<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="styles.css">
    <meta http-equiv="Content-Security-Policy"
        content="default-src 'self'; style-src 'self' https://use.typekit.net https://p.typekit.net 'unsafe-inline'; font-src 'self' https://use.typekit.net; connect-src 'self' https://api.github.com; script-src 'self' 'unsafe-inline';">
    <meta http-equiv="X-Content-Type-Options" content="nosniff">
    <meta http-equiv="X-Frame-Options" content="SAMEORIGIN">
    <meta http-equiv="X-XSS-Protection" content="1; mode=block">
    <meta http-equiv="Referrer-Policy" content="no-referrer">
    <script src="/htmx.js"></script>
    <link rel="icon" href="/favicon.png">
</head>

<body>
    <!--TODO: popup cooldown, alpha channel , look into copy, E008 + W001-3+3-->
    <div hx-put="/visibility/css" hx-trigger="every 100ms"></div>
    <nav>
        <button class="hamburger-menu" onclick="toggle_menu()">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>
        <ul class="sidenavbar">
            <li><a href="/" class="nav-active">Dashboard</a></li>
            <li><a href="/teaminfo">Sponsors & Teaminfo</a></li>
            <li><a href="/overlay" target="_blank" rel="noopener noreferrer">Overlay</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="/" id="open-logs">Open Logs</a></li>
        </ul>
    </nav>

    <div class="main-container">
        <div class="left-column">
            <div class="preview">
                <a href="/overlay">
                    <div class="preview-rectangle">
                        <iframe id="previewIframe" class="preview-iframe" frameborder="0" scrolling="no" height="1080"
                            width="1920" title="Overlay Preview"></iframe>
                    </div>
                </a>
            </div>

            <div class="score-container">
                <div class="score-rectangle">
                    <h2 class="score-title">Score</h2>
                    <div class="section home-section">
                        <div class="counter-container">
                            <button class="button-decrement-home" hx-post="/home-points/update/-1"
                                hx-swap="none">-</button>
                            <div class="counter">
                                <div id="countdown-counter-minutes" class="countdown" hx-put="/home-points/display"
                                    hx-trigger="every 100ms">0</div>
                                <div class="counter-subtext">Home</div>
                            </div>
                            <button class="button-increment-home" hx-post="/home-points/update/1"
                                hx-swap="none">+</button>
                        </div>
                        <button class="button-preset-score-home" hx-post="/home-points/update/1"
                            hx-swap="none"><strong>Add 1 point</strong></button>
                        <button class="button-preset-score-home" hx-post="/home-points/update/2" hx-swap="none">Add 2
                            points</button>
                        <button class="button-preset-score-home" hx-post="/home-points/update/3" hx-swap="none">Add 3
                            points</button>
                    </div>
                    <div class="section away-section">
                        <div class="counter-container">
                            <button class="button-decrement-away" hx-post="/away-points/update/-1"
                                hx-swap="none">-</button>
                            <div class="counter">
                                <div id="away-counter" class="counter-value" hx-put="/away-points/display"
                                    hx-trigger="every 100ms">0</div>
                                <div class="counter-subtext">Away</div>
                            </div>
                            <button class="button-increment-away" hx-post="/away-points/update/1"
                                hx-swap="none">+</button>
                        </div>
                        <button class="button-preset-score-away" hx-post="/away-points/update/1"
                            hx-swap="none"><strong>Add 1 point</strong></button>
                        <button class="button-preset-score-away" hx-post="/away-points/update/2" hx-swap="none">Add 2
                            points</button>
                        <button class="button-preset-score-away" hx-post="/away-points/update/3" hx-swap="none">Add 3
                            points</button>
                    </div>
                </div>
            </div>

            <div class="downs">
                <div class="downs-rectangle">
                    <div class="downs-container">
                        <div class="counter-container">
                            <button class="button-decrement-downs" hx-post="/downs/update/-1" hx-swap="none">-</button>
                            <div class="counter">
                                <div id="downs-counter" hx-put="/downs/display/down" hx-trigger="every 100ms">0</div>
                                <div class="counter-subtext">Down</div>
                            </div>
                            <button class="button-increment-downs" hx-post="/downs/update/1" hx-swap="none">+</button>
                        </div>
                        <div class="preset-down-buttons">
                            <button class="button-preset-down" hx-post="/downs/set/1" hx-swap="none">1st down</button>
                            <button class="button-preset-down" hx-post="/downs/set/2" hx-swap="none">2nd down</button>
                            <button class="button-preset-down" hx-post="/downs/set/3" hx-swap="none">3rd down</button>
                            <button class="button-preset-down" hx-post="/downs/set/4" hx-swap="none">4th down</button>
                        </div>
                        <div class="counter-container">
                            <button class="button-decrement-togo" hx-post="/downs/togo/update/-1"
                                hx-swap="none">-</button>
                            <div class="counter">
                                <div id="togo-counter" class="counter-value" hx-put="/downs/display/togo"
                                    hx-trigger="every 100ms">0</div>
                                <div class="counter-subtext">TO-GO</div>
                            </div>
                            <button class="button-increment-togo" hx-post="/downs/togo/update/1"
                                hx-swap="none">+</button>
                        </div>
                        <div class="preset-togo-buttons">
                            <button class="button-preset-togo" hx-post="/downs/togo/set/0" hx-swap="none">0</button>
                            <button class="button-preset-togo" hx-post="/downs/togo/set/10" hx-swap="none">10</button>
                            <button class="button-preset-togo" hx-post="/downs/togo/set/20" hx-swap="none">20</button>
                            <button class="button-preset-togo" hx-post="/downs/togo/set/30" hx-swap="none">30</button>
                            <button class="button-preset-togo" hx-post="/downs/togo/set/40" hx-swap="none">40</button>
                            <button class="button-preset-togo" hx-post="/downs/togo/set/50" hx-swap="none">50</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="net-stats">
                <div class="netstats-rectangle">
                    <h2 class="netstats-title">Statistics</h2>
                    <div class="netstats-content">
                        <div class="stat-item">
                            <label>Ping:</label>
                            <span id="ping-value">-- ms</span>
                        </div>
                        <div class="stat-item">
                            <label>Version:</label>
                            <span id="version-value" hx-put="/version" hx-trigger="load">_._._</span>
                        </div>
                        <div class="stat-item">
                            <label>Uptime:</label>
                            <span id="uptime-value" hx-put="/uptime-display" hx-trigger="every 100ms">00:00:00</span>
                        </div>
                        <button class="button-lock-interface" id="lockInterfaceBtn"><strong>Lock
                                Interface</strong></button>
                    </div>
                    <div class="watermark">Froggi</div>

                </div>
            </div>
        </div>

        <div class="middle-column">
            <div class="tab-container">
                <div class="tabset" id="top-tabset">
                    <input type="radio" name="tabset" id="tab1" aria-controls="Clock" checked>
                    <label for="tab1">Clock</label>
                    <input type="radio" name="tabset" id="tab2" aria-controls="Countdown">
                    <label for="tab2">Countdown</label>

                    <div class="tab-panels">
                        <section id="Clock" class="tab-panel">

                            <div id="clock-tabular" class="tab-content">
                                <div class="clock">
                                    <div class="clock-rectangle">
                                        <div class="counter-section">
                                            <div class="counter-container">
                                                <button class="button-decrement-clock" hx-post="/game-clock/update/-1/0"
                                                    hx-swap="none">-</button>
                                                <div class="counter">
                                                    <div id="clock-counter-minutes" hx-put="/game-clock/display/minutes"
                                                        hx-trigger="every 100ms">0</div>
                                                    <div class="counter-subtext">Minutes</div>
                                                </div>
                                                <button class="button-increment-clock" hx-post="/game-clock/update/1/0"
                                                    hx-swap="none">+</button>
                                            </div>
                                            <h2 class="clock-title">Clock</h2>
                                            <div class="counter-container">
                                                <button class="button-decrement-clock" hx-post="/game-clock/update/0/-1"
                                                    hx-swap="none">-</button>
                                                <div class="counter">
                                                    <div id="clock-counter-seconds" hx-put="/game-clock/display/seconds"
                                                        hx-trigger="every 100ms">0</div>
                                                    <div class="counter-subtext">Seconds</div>
                                                </div>
                                                <button class="button-increment-clock" hx-post="/game-clock/update/0/1"
                                                    hx-swap="none">+</button>
                                            </div>
                                        </div>
                                        <div class="clock-controls">
                                            <button class="button-start-clock" id="clockStartButton"
                                                hx-post="/game-clock/ctl/start" hx-swap="none">Start Clock</button>
                                            <button class="button-stop-clock" id="clockStopButton"
                                                hx-post="/game-clock/ctl/stop" hx-swap="none">Stop Clock</button>
                                        </div>
                                        <div class="preset-clock-buttons">
                                            <button class="button-preset-clock" hx-post="/game-clock/set/12"
                                                hx-swap="none">12:00</button>
                                            <button class="button-preset-clock" hx-post="/game-clock/set/9"
                                                hx-swap="none">9:00</button>
                                            <button class="button-preset-clock" hx-post="/game-clock/set/6"
                                                hx-swap="none">6:00</button>
                                            <button class="button-preset-clock" hx-post="/game-clock/set/3"
                                                hx-swap="none">3:00</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section id="Countdown" class="tab-panel">
                            <div id="countdown-tabular" class="tab-content">
                                <div class="countdown-rectangle">
                                    <div class="counter-section">
                                        <div class="counter-container">
                                            <button class="button-decrement-countdown"
                                                hx-post="/countdown-clock/update/-1/0" hx-swap="none">-</button>
                                            <div class="counter">
                                                <div id="countdown-counter-minutes" class="countdown"
                                                    hx-put="/countdown-clock/display/minutes" hx-trigger="every 100ms">0
                                                </div>
                                                <div class="counter-subtext">Minutes</div>
                                            </div>
                                            <button class="button-increment-countdown"
                                                hx-post="/countdown-clock/update/1/0" hx-swap="none">+</button>
                                        </div>
                                        <h2 class="countdown-title">Countdown</h2>
                                        <div class="counter-container">
                                            <button class="button-decrement-countdown"
                                                hx-post="/countdown-clock/update/0/-1" hx-swap="none">-</button>
                                            <div class="counter">
                                                <div id="countdown-counter-seconds" class="countdown"
                                                    hx-put="/countdown-clock/display/seconds" hx-trigger="every 100ms">0
                                                </div>
                                                <div class="counter-subtext">Seconds</div>
                                            </div>
                                            <button class="button-increment-countdown"
                                                hx-post="/countdown-clock/update/0/1" hx-swap="none">+</button>
                                        </div>
                                    </div>
                                    <div class="countdown-controls">
                                        <button class="button-start-countdown" id="countdownStartButton"
                                            hx-post="/countdown-clock/ctl/start" hx-swap="none">Start
                                            Countdown</button>
                                        <button class="button-stop-countdown" id="countdownStopButton"
                                            hx-post="/countdown-clock/ctl/stop" hx-swap="none">Stop
                                            Countdown</button>
                                    </div>
                                    <div class="preset-countdown-buttons">
                                        <button class="button-preset-countdown" hx-post="/countdown-clock/set/20"
                                            hx-swap="none">20:00</button>
                                        <button class="button-preset-countdown" hx-post="/countdown-clock/set/15"
                                            hx-swap="none">15:00</button>
                                        <button class="button-preset-countdown" hx-post="/countdown-clock/set/10"
                                            hx-swap="none">10:00</button>
                                        <button class="button-preset-countdown" hx-post="/countdown-clock/set/5"
                                            hx-swap="none">5:00</button>
                                    </div>
                                    <div class="countdown-actions-container">
                                        <form class="countdown-form-grid" id="countdown-form"
                                            hx-post="/countdown/text/set" hx-swap="none"
                                            style="display: grid; grid-template-columns: 1fr 1fr;">
                                            <input type="text" id="countdown-clock-text" maxlength="25"
                                                *oninput="sanitize(this)" placeholder="Countdown Display Text"
                                                name="text">
                                            <input type="submit" value="Submit" id="countdown-submit">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="quarter-rectangle">
                    <div class="quarter-container">
                        <div class="counter-container">
                            <button class="button-decrement-quarter" hx-post="/quarter/update/-1"
                                hx-swap="none">-</button>
                            <div class="counter">
                                <div id="quarter-counter" class="counter-value" hx-put="/quarter/display"
                                    hx-trigger="every 100ms">1</div>
                                <div class="counter-subtext">Quarter</div>
                            </div>
                            <button class="button-increment-quarter" hx-post="/quarter/update/1"
                                hx-swap="none">+</button>
                        </div>
                        <div class="quarter-buttons">
                            <button class="button-preset-quarter" hx-post="/quarter/set/1" hx-swap="none">1st
                                Quarter</button>
                            <button class="button-preset-quarter" hx-post="/quarter/set/2" hx-swap="none">2nd
                                Quarter</button>
                            <button class="button-preset-quarter" hx-post="/quarter/set/3" hx-swap="none">3rd
                                Quarter</button>
                            <button class="button-preset-quarter" hx-post="/quarter/set/4" hx-swap="none">4th
                                Quarter</button>
                            <button class="button-preset-quarter" hx-post="/quarter/set/5"
                                hx-swap="none">Overtime</button>
                        </div>
                    </div>
                </div>


                <div class="tab-container-2">
                    <div class="tabset-2">
                        <input type="radio" name="tabset-2" id="tab3" aria-controls="Display" checked>
                        <label for="tab3">Display</label>
                        <input type="radio" name="tabset-2" id="tab4" aria-controls="Popup">
                        <label for="tab4">Popups</label>

                        <div class="tab-panels-2">
                            <section id="Display" class="tab-panel-2">

                                <div id="display-tabular" class="tab-content">
                                    <div class="Display">
                                        <div id="visibility-tabular" class="tab-content">
                                            <div class="visibility">
                                                <div class="visibility-rectangle" hx-put="/visibility/buttons"
                                                    hx-trigger="load">
                                                    <div class="visibility-buttons">
                                                        <button class="show-countdown">Display Countdown</button>
                                                        <button class="show-downs">Display Downs & To Go</button>
                                                        <button class="show-scoreboard">Display Scoreboard</button>
                                                        <button class="show-sponsors">Display Sponsors</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            </section>
                            <section id="Countdown" class="tab-panel-2">
                                <div id="popups-tabular" class="tab-content">
                                    <div class="popups-rectangle">
                                        <table class="popup-table">
                                            <td>FLAG</td>
                                            <td>
                                                <button class="button home-popup cooldown"
                                                    hx-post="/popup/home?text=Flag%20Home" hx-swap="none"
                                                    onclick="applyCooldown(this)">HOME</button>
                                            </td>
                                            <td>
                                                <button class="button away-popup cooldown"
                                                    hx-post="/popup/away?text=Flag%20Away" hx-swap="none"
                                                    onclick="applyCooldown(this)">AWAY</button>
                                            </td>
                                            </tr>
                                            <tr>
                                                <td>TIMEOUT</td>
                                                <td>
                                                    <button class="button home-popup cooldown"
                                                        hx-post="/popup/home?text=Timeout%20Home" hx-swap="none"
                                                        onclick="applyCooldown(this)">HOME</button>
                                                </td>
                                                <td>
                                                    <button class="button away-popup cooldown"
                                                        hx-post="/popup/away?text=Timeout%20Away" hx-swap="none"
                                                        onclick="applyCooldown(this)">AWAY</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>TOUCHDOWN</td>
                                                <td>
                                                    <button class="button home-popup cooldown"
                                                        hx-post="/popup/home?text=Touchdown%20Home" hx-swap="none"
                                                        onclick="applyCooldown(this)">HOME</button>
                                                </td>
                                                <td>
                                                    <button class="button away-popup cooldown"
                                                        hx-post="/popup/away?text=Touchdown%20Away" hx-swap="none"
                                                        onclick="applyCooldown(this)">AWAY</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>FOUL</td>
                                                <td>
                                                    <button class="button home-popup cooldown"
                                                        hx-post="/popup/home?text=Foul%20Home" hx-swap="none"
                                                        onclick="applyCooldown(this)">HOME</button>
                                                </td>
                                                <td>
                                                    <button class="button away-popup cooldown"
                                                        hx-post="/popup/away?text=Foul%20Away" hx-swap="none"
                                                        onclick="applyCooldown(this)">AWAY</button>
                                                </td>
                                            </tr>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div id="log-popup" class="popup">
                <div class="popup-header">
                    <h2>Logs</h2>
                    <span class="popup-close">&times;</span>
                </div>
                <div id="popup-content" class="popup-content">
                    <div id="log-content" hx-put="/logs" hx-trigger="every 1000ms"></div>
                </div>
            </div>
            <script src="/app.js" defer></script>
</body>

</html>