<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0"/>
    <title>Settings</title>
    <meta name="description" content="Froggi Is a self-hosted & a portable scoreboard solution that aims to provide a free and intuitive sports broadcasting overlay.">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
    <link rel="preload" href="/app.js" as="script">
    <link rel="preload" href="styles.css" as="style">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script> <!--Licensed with MIT-->
    <meta http-equiv="Referrer-Policy" content="no-referrer">
    <meta http-equiv="X-Content-Type-Options" content="nosniff">
    <script src="/htmx.js"></script>
    <script src="/app.js" defer></script>
    <script src="/ws.js" defer></script>
</head>
<body id="settings-body">
    <nav>
        <button class="hamburger-menu">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>
        <ul class="sidenavbar">
            <li>
                <div class="navbar-content-container">
                <box-icon type='solid' name='dashboard' class="ico-white"></box-icon>
                <a href="/" class="nav-text">Dashboard</a>
                </div>
            </li>
            <li>
                <div class="navbar-content-container">
                <box-icon name='group' class="ico-white"></box-icon>
                <a href="/teaminfo" class="nav-text">Sponsors & Teaminfo</a>
                </div>
            </li>
            <li>
                <div class="navbar-content-container">
                <box-icon name='layer' class="ico-white"></box-icon>
                <a href="/overlay" target="_blank" rel="noopener noreferrer" class="nav-text">Overlay</a>
            </div></div>
            </li>
            <li>
                <div class="navbar-content-container">
                <box-icon name='cog' class="ico-white"></box-icon>
                <a href="/settings" class="nav-text nav-active">Settings</a>
                </div>
            </li>
            <li>
                <div class="navbar-content-container">
                    <box-icon name='align-justify' class="ico-white"></box-icon>
                <a href="/logs" id="open-logs" class="nav-text">Open Logs</a>
            </div>
            </li>
            <li>
                <div class="navbar-content-container">
                    <box-icon name='log-out' class="ico-logout"></box-icon>
                    <a href="/" id="log-out" class="nav-text">Logout</a>
                </div>
            </li>
        </ul>
    </nav>

    
    <div class="settings-container" id="settings-overlay-box">
        <div hx-put="/update/menu" hx-trigger="load"></div>
        <div class="settings-box">
            <div class="settings-title">
                <h2>Reset Scoreboard</h2>
                <div class="subtext-settings">
                    <h6>Resets the scoreboard to its original startup state, no data is erased.</u></h6>
                </div>
                <div class="setting">
                    <button class="reset-button" id="reset-button" hx-post="/reset" hx-swap="none"
                             hx-confirm ="Resetting scoreboard will clear the currently used preset, score, and clock. Do you wish to proceed?">⚠️Reset⚠️</button>
                </div>
            </div>
        </div>
        <div class="settings-box"> 
            <div class="settings-title">
                <div class="settings-info-parent">
                <h2>Theme</h2>
                <div class="settings-info-container">
                    <box-icon name='info-circle' class="info-circle"></box-icon>
                    <span class="tooltiptext">Switch themes to adapt to different lighting and enhance contrast.</span>
                </div>
            </div>
                <div class="subtext-settings">
                    <h6>Changing the theme will apply across pages, saved per device</h6>
                </div>
            </div>
            <div class="setting">
                <button id="light-theme" class="theme-button">Light Theme</button>
                <button id="dark-theme" class="theme-button theme-active">Dark Theme</button>
                <button id="colorblind-theme" class="theme-button">Colorblind Theme</button>
            </div>
        </div>
        <div class="settings-box">
            <div class="settings-title">
                <div class="settings-info-parent">
                    <h2>Overlay Background color</h2>
                    <div class="settings-info-container">
                        <box-icon name='info-circle' class="info-circle"></box-icon>
                        <span class="tooltiptext">Different background colors are ideal for chromakey use with Froggi.</span>
                    </div>
                </div>
                <div class="subtext-settings">
                    <h6>The background color is determined by this color picker, additionally you can set the alpha
                        channel.</h6>
                </div>
            </div>
            <div class="setting">
                <input type="color" id="overlay-color" value="#00b140">
                <h3 class="alpha-range-title" id="color-value">#00b140</h3>
                <input type="range" id="overlay-alpha" min="0" max="1" step="1" value="1">
                <h3 class="alpha-range-title" id="alpha-value">1</h3>
                <button id="reset-color">Default</button>
            </div>
        </div>
        <div class="settings-box">
            <div class="settings-title">
                <h2>Professional Mode</h2>
                <div class="subtext-settings">
                    <h6>Enable this to enhance the professionalism of the frontend.</h6>
                </div>
            </div>
            <div class="setting">
                <label class="switch">
                    <input type="checkbox" id="professional-mode-toggle">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="settings-box">
            <div class="settings-title">
                <h2>API Key</h2>
                <div class="subtext-settings">
                    <h6>The api key is used for OCR & http header authenication, <u>DO NOT SHARE OR SEND OVER UNENCRYPTED
                            TRAFFIC</u></h6>
                </div>
                <div hx-put="/api/key/show" hx-trigger="load, hide-api-key from:body">
                    <!--Copy&Reveal buttons are handled in the backend-->
                </div>
            </div>
        </div>
        <div class="settings-box">
            <div class="settings-title">
                <h2>Optical Character Recognition (OCR)</h2>
                <div class="subtext-settings">
                    <h6>Froggi has support for ScoreSight OCR, an open-source program developed by locaal-ai,
                        through froggi-ocr. To set up OCR, download both ScoreSight (<a
                            href="https://github.com/locaal-ai/scoresight"
                            target="_blank">https://github.com/locaal-ai/scoresight</a>) and froggi-ocr (<a
                            href="https://github.com/AllLiver/froggi-ocr"
                            target="_blank">https://github.com/AllLiver/froggi-ocr</a>), then launch both of them
                        and set them up.</h6>
                    <h6>Froggi will automatically use the default name and format of all of ScoreSight's default
                        fields that Froggi also supports. Although if you would like to add downs and to go for
                        American Football, you have to name them "Down" and "To Go" respectively, in ScoreSight.
                        Then make sure froggi-ocr is getting StatusCode 200 OK from both ScoreSight and Froggi.</h6>
                    <h6>Make sure to enable the OCR API in Froggi, or else Froggi will return StatusCode 409
                        CONFLICT to froggi-ocr.</h6>
                </div>
                <div class="setting" hx-put="/ocr/api/button" hx-trigger="load">
                    <button class="ocr-button" hx-post="/ocr/api/toggle">OCR API</button>
                </div>
                <h6>*Enabling the OCR API disables the manual game clock control</h6>
            </div>
        </div>
        <div class="settings-box">
            <div class="settings-title">
                <h2>Program Controls</h2>
                <div class="subtext-settings">
                    <h6>Manage system restart, shutdown, and updates</h6>
                </div>
                <button hx-post="/restart" hx-swap="none" class="button-settings" hx-confirm="You are trying to restart Froggi, are you sure?">Restart</button>
                <button hx-post="/shutdown" hx-swap="none" class="button-settings" hx-confirm="You are trying to shutdown Froggi, are you sure?">Shutdown</button>
            </div>
        </div>
</body>

</html>
