<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0" />
    <title>Settings</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://use.typekit.net/ikl4cbb.css"
        integrity="sha256-YMTXWpyoCVCn1xAOzL7zotWxPMmVYvdtVgwKCSfSYdA=" crossorigin="anonymous">
    <meta http-equiv="X-Content-Type-Options" content="nosniff">
    <meta http-equiv="X-Frame-Options" content="SAMEORIGIN">
    <meta http-equiv="X-XSS-Protection" content="1; mode=block">
    <meta http-equiv="Referrer-Policy" content="no-referrer">
    <script src="/htmx.js"></script>
    <link rel="icon" href="/favicon.png">
</head>

<body id="settings-body">
    <nav>
        <button class="hamburger-menu" onclick="toggle_menu()">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>
        <ul class="sidenavbar">
            <li><a href="/">Dashboard</a></li>
            <li><a href="/teaminfo">Sponsors & Teaminfo</a></li>
            <li><a href="/overlay" target="_blank" rel="noopener noreferrer">Overlay</a></li>
            <li><a href="/settings" class="nav-active">Settings</a></li>
        </ul>
    </nav>
    <div class="settings-container">
        <div class="settings-box">
            <div class="settings-title">
                <h2>Overlay background color</h2>
                <div class="subtext-settings">
                    <h6>The background color is determined by this color picker, additionally you can set the alpha
                        channel with the slider.</h6>
                </div>
            </div>
            <div class="setting">
                <input type="color" id="overlay-color" value="#00b140">
                <h3 class="alpha-range-title">0</h3>
                <input type="range" id="overlay-alpha" min="0" max="100" value="100">
                <h3 class="alpha-range-title">100</h3>
                <button id="reset-color">Reset to Default</button>
            </div>
        </div>
        <div class="settings-box">
            <div class="settings-title">
                <h2>Theme</h2>
                <div class="subtext-settings">
                    <h6>Changing themes can be helpful in different scenarios, and for those who benefit from WCAG
                        AAA (not certified).
                    </h6>
                </div>
            </div>
            <div class="setting">
                <button id="light-theme" class="theme-button">Light Theme</button>
                <button id="dark-theme" class="theme-button theme-active">Dark Theme</button>
                <button id="colorblind-theme" class="theme-button">Colorblind Theme</button>
            </div>
        </div>
        <div class="settings-box">
            <div class="settings-title">
                <h2>Optical Character Regognition (OCR)</h2>
                <div class="subtext-settings">
                    <h6>Froggi has support for ScoreSight ocr, an open source program developed by locaal-ai, through
                        froggi-ocr. To set up OCR, download both ScoreSight (<a
                            href="https://github.com/locaal-ai/scoresight"
                            target="_blank">https://github.com/locaal-ai/scoresight</a>) and froggi-ocr (<a
                            href="https://github.com/AllLiver/froggi-ocr"
                            target="_blank">https://github.com/AllLiver/froggi-ocr</a>), then lauch both of them and set
                        them up.</h6>
                    <h6>Froggi should automatically use the default name and format of all of ScoreSight's default
                        fields that Froggi also supports. Although if you would like to add downs and to go for American
                        Football, you have to name them "Down" and "To Go" respectively, in Scoresight. Then make sure
                        froggi-ocr is getting StatusCode 200 OK from both ScoreSight and Froggi.</h6>
                    <h6>You also need to make sure to enable the ocr-api in Froggi or else Froggi will return StatusCode
                        409 CONFLICT to froggi-ocr.</h6>
                </div>
                <div class="setting" hx-put="/ocr/api/button" hx-trigger="load">
                    <button hx-post="/ocr/api/toggle">OCR API</button>
                </div>
                <h6>*Enabling the OCR API disables the game clock</h6>
            </div>
        </div>
        <div class="settings-box">
            <div class="settings-title">
                <h2>API Key</h2>

                <div hx-put="/api/key/show" hx-trigger="load">
                </div>

                <button hx-post="/api/key/reveal" hx-target="#api-key" hx-swap="outerHTML" onclick="apiCopy()">Reveal
                    Key</button>
            </div>
        </div>
        <div class="settings-box">
            <div class="settings-title">
                <h2>Reset Scoreboard</h2>
                <div class="subtext-settings">
                </div>
            </div>
            <div class="setting">
                <button class="reset-button" hx-post="/reset" hx-swap="none">⚠️Reset⚠️</button>
            </div>
        </div>
        <div class="settings-box-indev">
            <div class="settings-title">
                <h2>Keybinds</h2>
                <div class="subtext-settings">
                    <h6>Customizable keybinds make it a breeze to keep score without a touchscreen.</h6>
                </div>
            </div>
            <div class="setting">
                <input type="text" id="keybind-input" name="keybind" placeholder="Press a key" readonly>
            </div>
        </div>
    </div>
    <script src="/app.js"></script>
    <script>
        function applyTheme(theme) {
            document.body.classList.remove('theme-dark', 'theme-light', 'theme-colorblind');
            document.body.classList.add(theme);
            localStorage.setItem('theme', theme);

            document.querySelectorAll('.theme-button').forEach(button => {
                button.classList.remove('theme-active');
            });

            let activeButton = document.querySelector(`#${theme.replace('theme-', '')}-theme`);
            activeButton.classList.add('theme-active');
        }

        window.onload = function () {
            const savedColor = localStorage.getItem('overlayColor') || '#00b140';
            const savedAlpha = localStorage.getItem('overlayAlpha') || '1';
            document.getElementById('overlay-color').value = savedColor;
            document.getElementById('overlay-alpha').value = savedAlpha * 100;
            updateOverlayBackgroundColor();

            const savedTheme = localStorage.getItem('theme') || 'theme-dark';
            applyTheme(savedTheme);
        };

        function updateOverlayBackgroundColor() {
            const colorPicker = document.getElementById('overlay-color');
            const alphaSlider = document.getElementById('overlay-alpha');
            const overlayElement = document.querySelector('.overlay');
            if (overlayElement) {
                const color = colorPicker.value;
                const alpha = alphaSlider.value / 100;
                overlayElement.style.backgroundColor = hexToRgba(color, alpha);
                localStorage.setItem('overlayColor', color);
                localStorage.setItem('overlayAlpha', alpha);
            }
        }

        function hexToRgba(hex, alpha) {
            let r = parseInt(hex.slice(1, 3), 16),
                g = parseInt(hex.slice(3, 5), 16),
                b = parseInt(hex.slice(5, 7), 16);
            return `rgba(${r}, ${g}, ${b}, ${alpha})`;
        }

        document.getElementById('overlay-color').addEventListener('input', updateOverlayBackgroundColor);

        document.getElementById('overlay-alpha').addEventListener('input', updateOverlayBackgroundColor);

        document.getElementById('reset-color').addEventListener('click', function () {
            const defaultColor = '#00b140';
            const defaultAlpha = 1;
            localStorage.setItem('overlayColor', defaultColor);
            localStorage.setItem('overlayAlpha', defaultAlpha);
            document.getElementById('overlay-color').value = defaultColor;
            document.getElementById('overlay-alpha').value = defaultAlpha * 100;
            updateOverlayBackgroundColor();
        });

        document.getElementById('light-theme').onclick = function () {
            applyTheme('theme-light');
        };

        document.getElementById('dark-theme').onclick = function () {
            applyTheme('theme-dark');
        };

        document.getElementById('colorblind-theme').onclick = function () {
            applyTheme('theme-colorblind');
        };

        document.querySelector('.reset-button').addEventListener('click', function () {
            const confirmed = confirm('Are you sure you want to reset the scoreboard? This action cannot be undone.');
            if (confirmed) {
                console.log('Scoreboard reset confirmed.');
            } else {
                console.log('Canceled!');
            }
        });

        function apiCopy() {
            const apiKeyElement = document.getElementById('api-key');
            const apiKey = apiKeyElement.textContent || apiKeyElement.innerText;

            const tempInput = document.createElement('input');
            tempInput.value = apiKey;
            document.body.appendChild(tempInput);
            tempInput.select();
            document.execCommand('copy');
            document.body.removeChild(tempInput);
        }
    </script>

</body>

</html>