/* Fonts */
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Open+Sans&display=swap');

/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #161617;
}

ul li {
    display: inline;
    padding: 1px;
}

h1, h2, h3, p {
    color: white;
}

button {
    background-color: #e9981f;
    border: none;
    color: white;
    padding:1% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%; 
    margin: 1.25% 0.625%;
    cursor: pointer;
    border-radius: 3%;
}
/* Header Styles */

header ul {
    list-style-type: none;
    margin: 10;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
}

header li {
    float: left;
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover {
    background-color: #111;
}
  

  header ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header ul li {
    list-style: none;
    margin-left: 20px;
  }
  
  header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
  }
  
  header ul li a:hover,
  header ul li a.active4 {
    background: #fff;
    color: #1e1e1e;
  }
  

/* Team Styles */
.away, .home {
    width: 200px; /* Set a fixed width for the boxes */
    border-style: solid;
    border-width: 2px;
    background-color: #1d1d1d;
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
}

.away {
    border-color: #d32559;
}

.home {
    border-color: #5393c7;
}

.home button:nth-child(n+5), .away button:nth-child(n+5),
.home button:nth-child(-n+4), .away button:nth-child(-n+4) {
    display: block;
    width: 100%;
    min-width: 100%; /* Set a minimum width for the boxes */
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}
.home button:nth-child(n+5), .away button:nth-child(n+5),
.home button:nth-child(-n+4), .away button:nth-child(-n+4) {
    display: block;
    width: 100%;
    min-width: 100%; /* Set a minimum width for the boxes */
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

/* Timer Styles */
.timer {
    width: 40%;
    border: 2px solid #e99d3a;
    padding: 20px;
    margin: 10px 0;
    background-color: #242424;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Other Styles */
.names {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.score-container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.team-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-input {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

input[type="text"], input[type="submit"] {
    width: 100%;
}


#ping {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
}

.team-input label {
    color: white;
}

.logo-upload {
    color: white;
    display: block;
}

.logo-upload #file-submit {
    display: block;
}

/* General Styles */
body .timer-controls .timer-button {
    font-size: 20px !important;
    padding: 10px 20px !important;
    width: 150px !important;
}

button.active {
    background-color: rgb(44, 194, 194);
}
.active {
    background-color:rgb(44, 194, 194);
    color: white;
}


/* Box Styles */
.white-boxes-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 3%;
    border-radius: 4%;
}

.home-box, .score-box, .away-box, .clock-box {
    height: 30px;
    background-color: white;
    margin: 3px;
    border-radius: 4%;
}

.score-box {
    text-align: center;
}

.clock-box {
    display: inline;
    text-align: center;
}

.home-box, .away-box {
    width: 15%;
    font-family: 'Protest Strike', sans-serif;
    display: flex;
    align-items: center;

}

.score-box, .clock-box {
    font-family: 'Lato', sans-serif;
}

.score-box {
    width: 5%;
    display: flex;
    font-family: 'Protest Strike', sans-serif;
    justify-content: center;
    align-items: center;
}

.clock-box {
    width: 7%;
    display: flex;
    font-family: 'Protest Strike', cursive;
    justify-content: center;
    align-items: center;
}

.score-container {
    display: flex;
    justify-content: space-between;
}

.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1000;
}

/* Timer Styles */
.timer {
    width: 60%;
    padding: 30px;
    margin: 20px 0;
    background-color: #242424;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer-controls {
    display: flex;
    justify-content: center; 
    margin-bottom: 20px;
}

.timer-controls + .timer-controls {
    margin-top: 10px; 
}

.quick-timer-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px; /* Add margin between quick boxes */
}

.quick-timer-buttons button {
    font-size: 1.2em;
    margin: 0 15px 10px 15px; /* Add margin to the right and bottom of each button */
}


.timer-elements {
    display: flex;
    align-items: center;
}

.mins-elements,
.secs-elements {
    margin-right: 15px;
}

.colon {
    font-size: 2em;
    margin-right: 15px;
}

.timer-button,
.min-button,
.min-minus-button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin: 0 5px; 
}

.timer-button.selected,
.min-button.selected,
.min-minus-button.selected {
    background-color: rgb(44, 194, 194);
}

.timer-controls .min-button,
.timer-controls .min-minus-button {
    font-size: 1.5em;
    padding: 10px 15px;
    margin: 0 5px; /* Add margin to the buttons */
}

.timer-controls .min-button.selected,
.timer-controls .min-minus-button.selected {
    background-color: rgb(44, 194, 194);
}


/* Team Styles */
.team-form {
    display: flex;
    justify-content: space-between;
}

.team-input {
    flex: 1;
    margin-right: 10px;
}

.team-input:last-child {
    margin-right: 0;
}

input[type="text"] {
    width: 50px;
}

.team-name {
    font-family: 'Anton', sans-serif;
}

.logo {
    margin-right: 20px;
    margin-left: 20px;
}

.quarters {
    width: 10%;
    width: 7%;
    display: flex;
    font-family: 'Anton', sans-serif;
    justify-content: center;
    align-items: center;
}

/* File Upload */


.logo-upload {
    max-width: 500px;
    margin: 70px auto 0;
    background-color: #242424;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="file"] {
    margin-bottom: 10px;
}

.team-input {
    margin-bottom: 15px;
}

#file-submit {
    background-color: #e9981f;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#file-submit:hover {
    background-color: #e9981f;
}

#name-form {
    margin-top: 50px; /* Adjust this value as needed */
    max-width: 500px;
    margin: 0 auto;
    background-color: #242424;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#name-form label {
    display: block;
    margin-bottom: 5px;
}

#name-form input[type="text"] {
    margin-bottom: 10px;
}

#name-form .team-input {
    margin-bottom: 15px;
}

#name-form #name-submit {
    background-color: #e9981f;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#name-form #name-submit:hover {
    background-color: #e9981f;
}

#logo-form {
    margin-bottom: 30px; 
}