/* General styles */
body {
    background-color: #000000;
    color: white;
    font-family: "franklin-gothic-atf", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.83vw;
    margin: 0;
    padding: 0;
    height: 100vh;
    /*  overflow: hidden; */
    touch-action: manipulation;
    user-select: none;
}

/* Rectangles */
.score-rectangle {
    background-color: #1d1e22;
    width: 35.73vw;
    height: 33vh;
    border-radius: 0.86vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    padding: 5px;
    position: relative;
    margin-bottom: 0.65vh;
    margin-left: 0.5vw;
}

.preview-rectangle {
    background-color: rgb(0, 177, 64);
    width: 35.73vw;
    height: 35vh;
    border-radius: 0.86vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    padding: 5px;
    position: relative;
    margin-bottom: 0.65vh;
    margin-left: 0.5vw;
}

.downs-rectangle {
    background-color: #1d1e22;
    width: 35.73vw;
    height: 15vh;
    border-radius: 0.86vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    padding: 5px;
    position: relative;
    margin-bottom: 0.65vh;
    margin-left: 0.5vw;
}

.net-stats-rectangle {
    background-color: #1d1e22;
    width: 35.73vw;
    height: 6.5vh;
    border-radius: 0.86vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    padding: 0.26vw;
    position: relative;
    margin-bottom: 0.65vh;
    margin-left: 0.5vw;
}

.countdown-rectangle {
    background-color: #1d1e22;
    width: 35.73vw;
    height: 33vh;
    border-radius: 0.86vw;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 5px;
    position: relative;
    margin-bottom: 0.65vh;
    margin-left: 0.1vw;
}

.quarter-rectangle {
    background-color: #1d1e22;
    width: 35.73vw;
    height: 18vh;
    border-radius: 0.86vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    padding: 5px;
    position: relative;
    margin-bottom: 0.65vh;
    margin-left: 0.1vw;
}

.clock-rectangle {
    background-color: #1d1e22;
    width: 35.73vw;
    height: 25vh;
    border-radius: 0.86vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 5px;
    position: relative;
    margin-bottom: 7px;
    margin-left: 3px;
}

.create-login-rectangle {
    background-color: #1d1e22;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.95;
    width: 100%;
    max-width: 400px;
    position: relative;
}

.login-rectangle {
    background-color: #1d1e22;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.95;
    width: 100%;
    max-width: 400px;
    position: relative;
}

.sponsors-rectangle {
    background-color: #1d1e22;
    width: 35.73vw;
    height: 9.02vh;
    border-radius: 0.86vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    padding: 5px;
    position: relative;
    margin-bottom: 7px;
    margin-left: 3px;
}

/* Title positioning */
.score-title {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.22vh;
}

.net-stats-title {
    font-size: 2vh;
    margin: 0 0.52vw;
    color: #fff;
}


/* Section styles */
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    text-align: center;
}

/* Counter container */
.counter-container {
    display: flex;
    align-items: center;
    margin-bottom: 0.93vh;
}

/* Increment and decrement buttons */
.button-increment-home,
.button-decrement-home,
.button-increment-away,
.button-decrement-away,
.button-increment-togo,
.button-decrement-togo {
    color: white;
    border: none;
    padding: 0.93vh;
    margin: 5px;
    font-size: 1.85vh;
    cursor: pointer;
    width: 2.6vw;
    border-radius: 5px;
}

.button-increment-home,
.button-decrement-home {
    background-color: #007BFF;
}

.button-increment-away,
.button-decrement-away {
    background-color: #ff8601;
}

.button-decrement-countdown,
.button-increment-countdown,
.button-increment-quarter,
.button-decrement-quarter,
.button-increment-clock,
.button-decrement-clock,
.button-increment-togo,
.button-decrement-togo {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 0.93vh;
    margin: 0.40vh;
    font-size: 1.85vh;
    cursor: pointer;
    width: 2.2vw;
    border-radius: 5px;
}


/* Counter display */
.counter,
.countdown-counter {
    font-size: 2.22vh;
    margin: 0 10px;
    min-width: 2.6vw;
    text-align: center;
    padding: 0.93vh;
    border-radius: 5px;
    background-color: #fff;
    color: #000000;
}

/* Quick score buttons */
.button-quick-score-home,
.button-quick-score-away,
.flag-home,
.flag-away {
    background-color: #007BFF;
    color: white;
    border: none;
    font-size: 1.85vh;
    cursor: pointer;
    width: 10.42vw;
    height: 4.07vh;
    border-radius: 5px;
    margin: 0.65vh;
}

.button-quick-score-away,
.flag-away {
    background-color: #ff8601;
}

.button-quick-down {
    background-color: #27a644;
    color: white;
    border: none;
    font-size: 1.85vh;
    cursor: pointer;
    width: 8.33vw;
    height: 4.07vh;
    border-radius: 5px;
    margin: 6px;
}


/* Downs container */
.downs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}

/* Net stats container */

.button-lock-interface {
    background-color: #fff;
    color: #000000;
    border: none;
    font-size: 0.83vw;
    cursor: pointer;
    padding: 0.52vw 1.85vh;
    border-radius: 5px;
    margin-right: 2.08vw;
    margin-left: 0.5w;
    z-index: 20;
    position: relative;
    pointer-events: auto;
    width: 7vw;
    height: auto;
}


.net-stats-content {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    margin-left: 5vw;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.93vh;
}

.stat-item label {
    font-weight: bold;
    margin-right: 0.52vw;
    color: #fff;
}

.stat-item span {
    color: #fff;
}

.error {
    color: red;
    font-weight: bold;
}

#ping-value {
    white-space: nowrap;
}

.interface-locked {
    pointer-events: none;
    opacity: 0.5;
    filter: grayscale(100%);
    position: relative;
}

#lockInterfaceBtn {
    z-index: 999;
    pointer-events: auto;
}

.unlock-interface-btn {
    display: none;
    z-index: 30;
    position: relative;
    pointer-events: auto;
}



/* Navbar */
.off-screen-menu {
    background-color: #fff;
    height: 100vh;
    width: 15.63vw;
    max-width: 80%;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.85vh;
    font-size: 18px;
    transition: right 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #000000;
}

.off-screen-menu.active {
    right: 0;
}

/* Hamburger menu and off-screen menu */
.hamburger-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}


.line {
    display: block;
    width: 1.56vw;
    height: 0.28vh;
    background-color: #fff;
    margin: 5px 0;
    transition: transform 0.3s ease;
}

.hamburger-menu.active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger-menu.active .line:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.sidenavbar {
    position: fixed;
    top: 0;
    right: 0;
    height: auto;
    width: 13.02vw;
    z-index: 1000;
    background-color: rgba(29, 30, 34, 0.9);
    box-shadow: -10px 0 1.85vh rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    list-style-type: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 6vh;
}


.sidenavbar.active {
    transform: translateX(0);
}


.sidenavbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    display: block;
    transition: background-color 0.3s ease;
    border-radius: 10.5px;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidenavbar a:hover {
    background-color: #252525;
    color: #fff;
}

.close-btn {
    position: absolute;
    top: 1.85vh;
    right: 1.85vh;
    color: #fff;
    cursor: pointer;
    font-size: 2.22vh;
}

.nav-active {
    border: none;
    outline: none;
    background-color: #919191;
    cursor: pointer;
}

/* Columns */
.left-column,
.middle-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}


/* Middle column specific styles */
.middle-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

/* Main container for layout */
.main-container {
    display: flex;
}

.button-stop-countdown,
.button-start-countdown {
    background-color: #fc3232;
    color: #fff;
    color: white;
    border: none;
    padding: 10px;
    margin: 0.46vh;
    font-size: 1.85vh;
    cursor: pointer;
    width: 45%;
    border-radius: 5px;
    white-space: nowrap;
}

.counter-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.counter-container {
    display: flex;
    align-items: center;
}

.countdown-title {
    font-size: 2vh;
    margin: 0 0.52vw;
    color: #fff;
}

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter-subtext {
    font-size: 12px;
    color: #000;
}

.countdown-controls,
.quick-time-buttons,
.quick-down-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.quick-time-buttons,
.quick-down-buttons {
    margin-top: 10px;
}

#countdown-clock-text::placeholder {
    color: #999;
    font-style: italic;
    opacity: 0.9;
}

.button-quick-time,
.button-quick-countdown {
    background-color: #27a644;
    color: white;
    border: none;
    font-size: 1.85vh;
    cursor: pointer;
    width: 10.42vw;
    height: 4.07vh;
    border-radius: 5px;
    margin: 0.65vh;
}

.show-countdown,
.show-sponsors,
.show-scoreboard {
    display: flex;
    flex-direction: column;
    font-size: 1.85vh;
    align-items: center;
    border: none;
    justify-content: center;
    width: 100%;
    height: 4vh;
    background-color: #27a644;
    color: #fff;
    border-radius: 10.5px;
    margin: 0.3vh;
    cursor: pointer;
}


#countdown-clock-text {
    align-items: center;
    border-radius: 10.5px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: #000;
    color: #fff;
    margin-bottom: 0.28vh;
}

.button-quick-quarter {
    background-color: #27a644;
    color: #fff;
    border: none;
    font-size: 1.85vh;
    cursor: pointer;
    width: 6.5vw;
    height: 4.07vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* text-wrap: nowrap; */
}

.visibility-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.quarter-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.73vw;
    margin-top: 1.39vh;
}

.quarter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}

/* Preview iFrame */

iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}

.preview-iframe {
    width: 100%;
    height: 100%;
}

/* Clock box

/* Clock Box */
.clock-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.clock-controls-left,
.clock-controls-right {
    width: 50%;
}

.button-start-clock,
.button-stop-clock {
    background-color: #fc3232;
    color: #fff;
    border: none;
    padding: 10px;
    margin: 5px;
    font-size: 1.85vh;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    white-space: nowrap;
}

.button-quick-clock {
    background-color: #27a644;
    color: white;
    border: none;
    font-size: 1.85vh;
    cursor: pointer;
    width: 100%;
    height: 4.07vh;
    border-radius: 5px;
    margin: 0.65vh;
}

.show-clock {
    background-color: #fff;
    color: #000;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.clock-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

#clock-text {
    width: calc(100% - 11.85vh);
    border-radius: 5px;
    padding: 10px;
    background-color: #000;
    color: #fff;
    margin-bottom: 3px;
}

.clock-actions button {
    flex-shrink: 0;
}

/* Responsive design */
@media (max-width: 102.22vh) {
    .main-container {
        flex-direction: column;
    }

    .left-column,
    .middle-column {
        width: 100%;
    }

    .sidenavbar {
        width: 10.42vw;
    }

    .off-screen-menu {
        width: 250px;
    }

    .score-rectangle,
    .preview-rectangle,
    .downs-rectangle,
    .net-stats-rectangle,
    .countdown-rectangle,
    .quarter-rectangle,
    .clock-rectangle,
    .sponsors-rectangle,
    .create-login-rectangle,
    .login-rectangle {
        width: calc(100% - 10px);
        margin-left: 3px;
    }
}

@media (max-width: 768px) {

    .score-rectangle,
    .preview-rectangle,
    .downs-rectangle,
    .net-stats-rectangle,
    .countdown-rectangle,
    .quarter-rectangle,
    .clock-rectangle,
    .sponsors-rectangle,
    .create-login-rectangle,
    .login-rectangle {
        width: calc(100% - 16px);
        margin-left: 8px;
        margin-bottom: 10px;
    }

    .score-title {
        left: 50%;
        transform: translateX(-50%);
    }

    .preview-title {
        left: 50%;
        transform: translateX(-50%);
    }

    .downs-title {
        left: 10px;
    }

    .net-stats-title {
        left: 10px;
    }

    .countdown-title {
        text-align: center;
    }

    .downs-rectangle {
        overflow-x: auto;
        white-space: nowrap;
    }

    .main-container {
        flex-direction: column;
    }

    .left-column,
    .middle-column {
        width: 100%;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .net-stats-rectangle {
        margin-left: 8px;
    }
}

@media (max-width: 480px) {

    .score-rectangle,
    .preview-rectangle,
    .downs-rectangle,
    .net-stats-rectangle,
    .countdown-rectangle,
    .quarter-rectangle,
    .clock-rectangle,
    .sponsors-rectangle,
    .create-login-rectangle,
    .login-rectangle {
        width: calc(100% - 1.85vh);
        margin-left: 3px;
    }

    .button-quick-score-home,
    .button-quick-score-away,
    .flag-home,
    .flag-away {
        width: 130px;
        font-size: 14px;
    }

    .button-quick-down {
        width: 110px;
        font-size: 14px;
    }

    .countdown-title {
        font-size: 18px;
    }

    .button-quick-time,
    .button-quick-countdown {
        width: 140px;
        font-size: 14px;
    }

    .show-countdown {
        height: 40%;
    }

    .sidenavbar {
        width: 160px;
    }

    .off-screen-menu {
        width: 10.42vw;
    }

    .teaminfo-rectangle,
    .sponsor-rectangle,
    .teaminfo-presets-rectangle {
        width: calc(100% - 2.08vw);
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 102.22vh) and (orientation: landscape) {
    .main-container {
        transform: scale(0.75);
        transform-origin: 0 0;
    }
}


@media (max-width: 768px) {
    .clock-rectangle {
        width: calc(100% - 16px);
        margin-left: 8px;
    }

    .button-start-clock,
    .button-stop-clock,
    .button-quick-clock {
        font-size: 16px;
    }

    .net-stats-rectangle {
        width: calc(100% - 16px);
        margin-left: 8px;
    }

}

@media (max-width: 480px) {
    .clock-rectangle {
        width: calc(100% - 1.85vh);
        margin-left: 3px;
    }

    .button-quick-clock {
        font-size: 14px;
    }

    #clock-text {
        width: calc(100% - 100px);
    }

    .net-stats-rectangle {
        width: calc(100% - 1.85vh);
        margin-left: 3px;
    }
}

/* Hover effect */
.button-increment-home:hover,.button-decrement-home:hover,.button-increment-away:hover,.button-decrement-away:hover,.button-increment-togo:hover,.button-decrement-togo:hover,.button-decrement-down:hover,.button-decrement-countdown:hover,.button-increment-countdown:hover,.button-decrement-quarter,.button-increment-quarter,.button-quick-score-home:hover,.button-quick-score-away:hover,.button-quick-down:hover,.button-start-countdown:hover,.button-stop-countdown:hover,.button-quick-time:hover,.button-quick-countdown:hover,.flag-home:hover,.flag-away:hover,.show-countdown:hover,.button-lock-interface:hover,.button-quick-quarter:hover,.create-login-rectangle input[type="submit"]:hover,.login-rectangle input[type="submit"]:hover,.button-quick-clock:hover,.button-stop-clock:hover,.button-start-clock:hover,.show-sponsors:hover,.submit-button:hover,.show-scoreboard:hover,.submit-button:hover{transform:scale(1.01)}

.watermark {
    position: absolute;
    bottom: 3px;
    left: 5px;
    font-size: 12px;
    color: #f5f5f580;
}

/*& Login */

#login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.create-login-rectangle h1 {
    margin-bottom: 1.85vh;
    font-size: 2.22vh;
    color: #ffffff;
}

.create-login-rectangle label {
    font-size: 0.8em;
    margin-bottom: 5px;
    color: #ffffff;
    align-self: flex-start;
}

.create-login-rectangle input[type="text"],
.create-login-rectangle input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 0.8em;
}

.create-login-rectangle input[type="submit"] {
    background-color: #27a644;
    color: white;
    padding: 14px 1.85vh;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
    border-radius: 5px;
}

.login-rectangle h1 {
    margin-bottom: 1.85vh;
    font-size: 2.22vh;
    color: #ffffff;
}

.login-rectangle label {
    font-size: 0.8em;
    margin-bottom: 0.46vh;
    color: #ffffff;
    align-self: flex-start;
}

.login-rectangle input[type="text"],
.login-rectangle input[type="password"] {
    width: 100%;
    padding: 0.93vh;
    margin-bottom: 1.39vh;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

.login-rectangle input[type="submit"] {
    background-color: #27a644;
    color: white;
    padding: 14px 1.85vh;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
    border-radius: 5px;
}




/*& Overlay.html styles */

#overlay {
    background-color: rgb(0, 177, 64);
    cursor: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0.93vh;
    height: 100vh;
}

#chromakey-body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(0, 177, 64);
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 41.67vw;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    gap: 0.5rem;
}

.info-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 4vh;
    padding: 0 1rem;
    border-radius: 4.5px;
    font-size: 1em;
    margin: 0;
    flex: 1;
}

.logo {
    height: 2.59vh;
    width: auto;
    margin-right: 0.26vw;
}

.team-name {
    flex: 1;
    text-align: center;
}

.team-score {
    font-size: 1.5em;
    font-weight: bold;
}

.home-box,
.away-box {
    min-width: 9vw;
}

.score-box h3,
.down-togo-box h3 {
    margin: 0;
}

.score-box h3,
.down-togo-box h3 {
    margin: 0;
    white-space: nowrap;
}

/*& Teaminfo, sponsors, teampresets styles */

.teaminfo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2vh;
    margin-top: 5vh;
}

.teaminfo-rectangle,
.sponsor-rectangle,
.teaminfo-presets-rectangle {
    background-color: #1d1e22;
    border-radius: 10px;
    padding: 2vw;
    margin: 1vw;
    width: calc(30% - 2vw);
    box-sizing: border-box;
    color: white;
}

.teaminfo-rectangle h1,
.sponsor-rectangle h1,
.teaminfo-presets-rectangle h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 0.93vh 0 0.46vh;
}

form input[type="text"],
form input[type="file"] {
    padding: 10px;
    margin-bottom: 1.39vh;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    width: 95%;
}

form input[type="color"] {
    width: 100%;
}

form input[type="submit"],
.submit-button {
    background-color: #27a644;
    padding: 0.93vh;
    margin-bottom: 1.39vh;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 600;
    width: 100%;
}

.home-section label[for="home_name"],
.home-section label[for="home_img"],
.home-section label[for="home_color"] {
    color: #007BFF;
}

.away-section label[for="away_name"],
.away-section label[for="away_img"],
.away-section label[for="away_color"] {
    color: #ff8601;
}

.logo-previews {
    display: flex;
    justify-content: space-around;
    margin-top: 0.93vh;
}

.logo-previews img {
    display: none;
    width: 2.6vw;
    height: 4.63vh;
    border: 1px solid #fff;
    border-radius: 5px;
}