/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #161617;
}

ul li {
    display: inline;
    padding: 1px;
}

h1, h2, h3 {
    color: white;
}

button {
    background-color: #e9981f;
    border: none;
    color: white;
    padding:1% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%; 
    margin: 1.25% 0.625%;
    cursor: pointer;
    border-radius: 3%;
}
/* Header Styles */

header ul {
    list-style-type: none;
    margin: 10;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
}

header li {
    float: left;
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover {
    background-color: #111;
}
  

  header ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header ul li {
    list-style: none;
    margin-left: 20px;
  }
  
  header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
  }
  
  header ul li a:hover,
  header ul li a.active4 {
    background: #fff;
    color: #1e1e1e;
  }
  

/* Team Styles */
.away, .home {
    border-style: solid;
    border-width: 2px;
    background-color: #1d1d1d;
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.away {
    border-color: #cd25d3;
}

.home {
    border-color: #5364c7;
}

.home button:nth-child(n+5), .away button:nth-child(n+5),
.home button:nth-child(-n+4), .away button:nth-child(-n+4) {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

/* Timer Styles */
.timer {
    width: 40%;
    border: 2px solid #cf6a6a;
    padding: 20px;
    margin: 10px 0;
    background-color: #242424;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Other Styles */
.names {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.score-container {
    display: flex;
    justify-content: space-around;
}

.team-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-input {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

input[type="text"], input[type="submit"] {
    width: 100%;
}






/* General Styles */
body .timer-controls .timer-button {
    font-size: 20px !important;
    padding: 10px 20px !important;
    width: 150px !important;
}

button.active {
    background-color: rgb(44, 194, 194);
}

/* Box Styles */
.white-boxes-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 3%;
    border-radius: 4%;
}

.home-box, .score-box, .away-box, .clock-box {
    height: 30px;
    background-color: white;
    margin: 3px;
    border-radius: 4%;
}

.score-box {
    text-align: center;
}

.clock-box {
    display: inline;
    text-align: center;
}

.home-box, .away-box {
    width: 15%;
    font-family: 'Protest Strike', sans-serif;
    display: flex;
    align-items: center;
}

.score-box, .clock-box {
    font-family: 'Roboto', sans-serif;
}

.score-box {
    width: 5%;
    display: flex;
    font-family: 'Protest Strike', cursive;
    justify-content: center;
    align-items: center;
}

.clock-box {
    width: 7%;
    display: flex;
    font-family: 'Protest Strike', cursive;
    justify-content: center;
    align-items: center;
}



/* Timer Styles */
.timer {
    text-align: center;
}

.timer-elements {
    display: flex;
    align-items: center;
}

.timer-elements .mins-elements,
.timer-elements .secs-elements {
    display: flex;
    align-items: center;
}

.timer-elements .mins-elements button,
.timer-elements .secs-elements button {
    margin-top: 5px;
    padding: 8px 12px;
}

.timer-elements .secs-elements {
    margin-left: 10px;
}

.colon {
    margin: 0 5px;
}

.timer-button.selected {
    background-color: rgb(44, 194, 194);
}

/* Team Styles */
.team-form {
    display: flex;
    justify-content: space-between;
}

.team-input {
    flex: 1;
    margin-right: 10px;
}

.team-input:last-child {
    margin-right: 0;
}

input[type="text"] {
    width: 50px;
}

.team-name {
    font-family: 'Protest Strike', cursive;
}

.logo {
    margin-right: 20px;
}

.quarters {
    width: 10%;
    width: 7%;
    display: flex;
    font-family: 'Protest Strike', cursive;
    justify-content: center;
    align-items: center;
}