/* Fonts */
  @import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@900&family=Open+Sans&family=Protest+Strike&family=Roboto&display=swap');

/* Header Styles */

header ul {
    list-style-type: none;
    margin: 10;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: -10px; 
    right: 0;
}

header li {
    float: left;
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover {
    background-color: #111;
}
  

  header ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header ul li {
    list-style: none;
    margin-left: 20px;
  }
  
  header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
  }
  
  header ul li a:hover,
  header ul li a.active4 {
    background: #fff;
    color: #1e1e1e;
  }


/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #161617;
}

ul li {
    display: inline;
    padding: 1px;
}

h1, h2, h3, p {
    color: white;
}

button {
    background-color: #e9981f;
    border: none;
    color: white;
    padding: 1% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%; 
    margin: 1.25% 0.625%;
    cursor: pointer;
    border-radius: 3%;
}


  #ping {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
}

button.active {
    background-color: rgb(44, 194, 194);
}
.active {
    background-color:rgb(44, 194, 194);
    color: white;
}

input[type="text"], input[type="submit"] {
    width: 100%;
}

/* Overlay Styles */

.white-boxes-container {
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 3%;
    border-radius: 4%;
}

.home-box, .score-box, .away-box, .clock-box {
    height: 30px;
    background-color: white;
    margin: 3px;
    border-radius: 4%;
}

.score-box {
    text-align: center;
}

.clock-box {
    display: inline;
    text-align: center;
}

.home-box, .away-box {
    width: 15%;
    font-family: 'Protest Strike', sans-serif;
    display: flex;
    align-items: center;

}

.score-box, .clock-box {
    font-family: 'Lato', sans-serif;
}

.score-box {
    width: 5%;
    display: flex;
    font-family: 'Protest Strike', sans-serif;
    justify-content: center;
    align-items: center;
}

.clock-box {
    width: 7%;
    display: flex;
    font-family: 'Protest Strike', cursive;
    justify-content: center;
    align-items: center;
}

.score-container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1000;
}

/* Timer & Countdown Styles */
.timer-container {
    width: 60%;
    border: 2px solid;
    padding: 20px;
    margin: 10px 0; 
    background-color: #242424;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid; 
    border-image-source: linear-gradient(to right, #2f54f7, #8C2FF7); 
    border-image-slice: 1;
    border-image-width: 2px;
    border-image-outset: 0;
    border-image-repeat: round;
}

.timer-container h2 {
    padding: 2% 8%; 
    font-size: 120%; 
}

.timer-controls {
    display: flex;
    align-items: center;
    margin: 0; 
}

.timer-elements {
    padding: 4% 8%;
    font-size: 120%; 
    text-align: center;
}

.quick-timer-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px; 
    padding: 4% 8%;
    font-size: 120%; 
}

.timer-controls button,
.timer-elements button {
    padding: 2px 8px; 
    margin: 5px; 
    font-size: 120%; 
    width: 200px;
}

.countdown-container {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Align vertically */
    align-items: center; /* Align horizontally */
    padding: 20px;
    background-color: #242424;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    color: white;
    width: 50%; /* Adjust width as needed */
    margin: 0 auto; /* Center horizontally */
}

.countdown-container h2 {
    padding: 2% 8%;
    font-size: 120%;
}

.countdown-controls, .show-countdown {
    display: flex;
    align-items: center;
    margin: 0;
}

.countdown-elements {
    padding: 4% 8%;
    text-align: center;
    font-size: 2em; /* Adjust as needed */
    font-weight: bold;

}

.quick-countdown-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 4% 8%;
    font-size: 120%;
    
}

.countdown {
    position: relative; /* Change to relative */
    top: 0; /* Remove top positioning */
    left: 0; /* Remove left positioning */
}

.countdown-controls button,
.countdown-elements button, .show-countdown {
    padding: 2px 8px;
    margin: 5px;
    font-size: 120%;
    width: 200px;
}

.show-countdown-button {
    text-align: center;
}

#show-countdown.on {
    background-color: #e32d20; 
    color: white;
}
/* Team Styles */

.away, .home {
    width: 200px; 
    border-style: solid;
    border-width: 2px;
    background-color: #1d1d1d;
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
}

.away {
    border-color: #8C2FF7;
}

.home {
    border-color: #2f54f7;
}

.home button:nth-child(n+5), .away button:nth-child(n+5),
.home button:nth-child(-n+4), .away button:nth-child(-n+4) {
    display: block;
    width: 100%;
    min-width: 100%; 
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}
.home button:nth-child(n+5), .away button:nth-child(n+5),
.home button:nth-child(-n+4), .away button:nth-child(-n+4) {
    display: block;
    width: 100%;
    min-width: 100%; 
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}
.team-form {
    display: flex;
    justify-content: space-between;
}

.team-input {
    flex: 1;
    margin-right: 10px;
}

.team-input:last-child {
    margin-right: 0;
}

input[type="text"] {
    width: 50px;
}

.team-name {
    font-family: 'Anton', sans-serif;
}

.logo {
    margin-right: 20px;
    margin-left: 10px;
}

.quarters {
    width: 10%;
    width: 7%;
    display: flex;
    font-family: 'Anton', sans-serif;
    justify-content: center;
    align-items: center;
}


.team-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-input {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.team-input label {
    color: white;
}

.names {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

/* Teaminfo Styles */

.logo-upload {
    max-width: 500px;
    margin: 70px auto 0;
    background-color: #242424;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="file"] {
    margin-bottom: 10px;
}

.team-input {
    margin-bottom: 15px;
}

#file-submit {
    background-color: #e9981f;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#file-submit:hover {
    background-color: #e9981fe3;
}

#name-form {
    margin-top: 50px; /* Adjust this value as needed */
    max-width: 500px;
    margin: 0 auto;
    background-color: #242424;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#name-form label {
    display: block;
    margin-bottom: 5px;
}

#name-form input[type="text"] {
    margin-bottom: 10px;
}

#name-form .team-input {
    margin-bottom: 15px;
}

#name-form #name-submit {
    background-color: #e9981f;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#name-form #name-submit:hover {
    background-color: #e9981f;
}

#logo-form {
    margin-bottom: 30px; 
}

.logo-upload {
    color: white;
    display: block;
}

.logo-upload #file-submit {
    display: block;
}