/* Inherited Styles */
body {
    background-color: var(--color-background);
    color: var(--font-color, #000000);
    font-family: "franklin-gothic-atf", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.83vw;
    margin: 0;
    padding: 0;
    height: 100vh;
    touch-action: manipulation;
    user-select: none;
    text-wrap: nowrap;
}

* {
    line-height: 1.5;
    letter-spacing: 0.05em;
}

/* Index rectangles */
.preview-rectangle {
    background-color: var(--chromakey-color, #00b140);
    width: 47.5vw;
    height: 30vh;
    border-radius: 0.86vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    padding: 0.26vw;
    position: relative;
    margin-bottom: var(--margin-bottom, 0.65vh);
    margin-left: var(--margin-left, 0.5vw);
}

.score-rectangle {
    background-color: var(--color-background-contrast, #1d1e22);
    width: 47.5vw;
    height: 25vh;
    border-radius: 0.86vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    padding: 0.26vw;
    position: relative;
    margin-bottom: var(--margin-bottom, 0.65vh);
    margin-left: var(--margin-left, 0.5vw);
}

.downs-rectangle {
    background-color: var(--color-background-contrast, #1d1e22);
    width: 47.5vw;
    height: 30vh;
    border-radius: 0.86vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    padding: 0.26vw;
    position: relative;
    margin-bottom: var(--margin-bottom, 0.65vh);
    margin-left: var(--margin-left, 0.5vw);
}

.netstats-rectangle {
    background-color: var(--color-background-contrast, #1d1e22);
    width: 47.5vw;
    height: 7vh;
    border-radius: 0.86vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    padding: 0.26vw;
    position: relative;
    margin-bottom: var(--margin-bottom, 0.65vh);
    margin-left: var(--margin-left, 0.5vw);
}

.clock-rectangle {
    background-color: var(--color-background-contrast, #1d1e22);
    width: 47.5vw;
    height: 29vh;
    border-radius: 0.86vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 0.5vh;
    position: relative;
    margin-bottom: var(--margin-bottom, 0.65vh);
    margin-top: 2vh;
}

.countdown-rectangle {
    background-color: var(--color-background-contrast, #1d1e22);
    width: 47.5vw;
    height: 29vh;
    border-radius: 0.86vw;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 0.26vw;
    position: relative;
    margin-bottom: var(--margin-bottom, 0.65vh);
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2vh;
}

.quarter-rectangle {
    background-color: var(--color-background-contrast, #1d1e22);
    width: 47.5vw;
    height: 18vh;
    border-radius: 0.86vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    padding: 0.46vh;
    position: relative;
    margin-bottom: 2vh;
}

.visibility-rectangle {
    background-color: var(--color-background-contrast, #1d1e22);
    width: 47.5vw;
    height: 10vh;
    border-radius: 0.86vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    padding: 0.26vw;
    position: relative;
    margin-bottom: var(--margin-bottom, 0.65vh);
    margin-top: 2vh;
}

.popups-rectangle {
    background-color: var(--color-background-contrast, #1d1e22);
    width: 47.5vw;
    border-radius: 0.86vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    padding: 5px;
    position: relative;
    margin-bottom: 0.65vh;
    margin-left: var(--margin-left, 0.5vw);
    margin-top: 2vh;
}

.create-login-rectangle {
    background-color: var(--color-background-contrast, #1d1e22);
    padding: 1.56vw;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.95;
    width: 25vw;
    position: relative;
}

.login-rectangle {
    background-color: var(--color-background-contrast, #1d1e22);
    padding: 1.56vw;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.95;
    width: 25vw;
    height: 30vh;
}

/* Themes */
:root {
    --color-blue: #007BFF;
    --color-orange: #ff8601;
    --color-green: #27a644;
    --color-red: #f64747;
    --color-selected: #f64747;
    --color-background-contrast: #1d1e22;
    --color-background: #000000;
    --font-color: #ffffff;
    --font-color-contrast: #000000;
    --chromakey-color: #00b140;
    --shadow-color: #ffffff;
    --margin-left: 0.5vw;
    --margin-bottom: 0.65vh;
}

.theme-dark {
    --color-blue: #007BFF;
    --color-orange: #ff8601;
    --color-green: #27a644;
    --color-red: #f64747;
    --color-selected: #f64747;
    --color-background-contrast: #1d1e22;
    --color-background: #000000;
    --font-color: #ffffff;
    --font-color-contrast: #000000;
    --chromakey-color: #00b140;
    --shadow-color: #ffffff;
}

.theme-light {
    --color-blue: #007BFF;
    --color-orange: #ff8601;
    --color-green: #27a644;
    --color-red: #f64747;
    --color-selected: #f64747;
    --color-background-contrast: #d3d6d6;
    --color-background: #fff;
    --font-color: #000000;
    --font-color-contrast: #fff;
    --chromakey-color: #00b140;
    --shadow-color: #000000;
}

.theme-colorblind {
    --color-blue: #2196F3;
    --color-orange: #e3a916;
    --color-green: #0dd547;
    --color-red: #f08bac;
    --color-background: #000000;
    --color-background-contrast: #1d1e22;
    --font-color: #ffffff;
    --font-color-contrast: #000000;
    --chromakey-color: #00b140;
    --shadow-color: #e9e9e9;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #000000;
        --color-background-contrast: #1d1e22;
        --font-color: #ffffff;
        --font-color-contrast: #000000;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color-background: #fff;
        --color-background-contrast: #d3d6d6;
        --font-color: #000000;
        --font-color-contrast: #fff;
    }
}

@media (prefers-contrast: more) {
    :root {
        --color-blue: #2196F3;
        --color-orange: #e3a916;
        --color-green: #0dd547;
        --color-red: #f08bac;
        --color-background: #000000;
        --color-background-contrast: #1d1e22;
        --font-color: #ffffff;
        --font-color-contrast: #000000;
    }
}

@media (prefers-contrast: less) {
    :root {
        --color-blue: #6495ED;
        --color-orange: #FFA500;
        --color-green: #32CD32;
        --color-red: #FF6B6B;
        --color-background: #FFFFFF;
        --color-background-contrast: #000000;
        --font-color: #000000;
        --font-color-contrast: #888888;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none;
        transition: none;

        canvas {
            display: none;
        }
    }
}

/* Navbar */

.off-screen-menu {
    background-color: #fff;
    height: 100vh;
    width: 15.63vw;
    max-width: 80%;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.85vh;
    font-size: 18px;
    transition: right 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #000000;
}

.off-screen-menu.active {
    right: 0;
}

.hamburger-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    filter: none;
    position: fixed;
    z-index: 1000;
}

.line {
    display: block;
    width: 1.56vw;
    height: 0.28vh;
    background-color: var(--font-color, #fff);
    margin: 5px 0;
    transition: transform 0.3s ease;
}

.hamburger-menu.active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger-menu.active .line:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.sidenavbar {
    position: fixed;
    top: 0;
    right: 0;
    height: auto;
    width: 13.02vw;
    z-index: 1000;
    background-color: rgba(29, 30, 34, 0.9);
    box-shadow: -10px 0 1.85vh rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    list-style-type: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 6vh;
    filter: none;
}

.sidenavbar.active {
    transform: translateX(0);
}

.sidenavbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    display: block;
    transition: background-color 0.3s ease;
    border-radius: 10.5px;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidenavbar a:hover {
    background-color: #252525;
    color: #fff;
}

.close-btn {
    position: absolute;
    top: 1.85vh;
    right: 1.85vh;
    color: #fff;
    cursor: pointer;
    font-size: 2.22vh;
}

.nav-active {
    border: none;
    outline: none;
    background-color: #919191;
    cursor: pointer;
    filter: none;
}

.sidenavbar.active a {
    filter: none;
}

/*& Dashboard styles */

/* Columns */
.left-column,
.middle-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.middle-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.main-container {
    display: flex;
}

/* Tabs */

#top-tabset {
    margin-top: 0.7vh;
}

.tab-content.active {
    display: block;
}

.tab-button {
    background-color: var(--color-green, #27a644);
    border: none;
    border-radius: 5px;
    color: var(--font-color);
    font-weight: 600;
    height: 4vh;
    margin-left: var(--margin-left);
    margin-bottom: var(--margin-bottom);
    width: 6vw;
    cursor: pointer;
}

.tab-button.active {
    filter: drop-shadow(0 0 1vh #27a644);
    border: 2px solid var(--color-selected);
    border: none;
}

.selector-active {
    filter: drop-shadow(0 0 1vh var(--color-selected));
    border: 2px solid var(--color-selected);
    border: none;
}

.tabset>input[type="radio"] {
    position: absolute;
    left: -200vw;
}

.tabset .tab-panel {
    display: none;
}

.tabset>input:first-child:checked~.tab-panels>.tab-panel:first-child,
.tabset>input:nth-child(3):checked~.tab-panels>.tab-panel:nth-child(2),
.tabset>input:nth-child(5):checked~.tab-panels>.tab-panel:nth-child(3),
.tabset>input:nth-child(7):checked~.tab-panels>.tab-panel:nth-child(4),
.tabset>input:nth-child(9):checked~.tab-panels>.tab-panel:nth-child(5),
.tabset>input:nth-child(11):checked~.tab-panels>.tab-panel:nth-child(6) {
    display: block;
}

.tabset>label {
    border: none;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
    background-color: var(--color-green, #27a644);
    border: none;
    border-radius: 5px;
    color: var(--font-color);
    font-weight: 600;
    height: 4vh;
    margin-left: var(--margin-left);
    margin-bottom: var(--margin-bottom);
    width: 6vw;
    cursor: pointer;
    text-align: center;
    margin: auto;
    padding: 1vh;
}

.tabset>label::after {
    content: "";
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 4px;
    background: #8d8d8d;
}

.tabset>input:checked+label {
    filter: drop-shadow(0 0 1vh #27a644);
    border: 2px solid var(--color-selected);
    border: none;
}

.tabset {
    max-width: 65em;
}

.tabset-2>input[type="radio"] {
    position: absolute;
    left: -200vw;
}

.tabset-2 .tab-panel-2 {
    display: none;
}

.tabset-2>input:first-child:checked~.tab-panels-2>.tab-panel-2:first-child,
.tabset-2>input:nth-child(3):checked~.tab-panels-2>.tab-panel-2:nth-child(2),
.tabset-2>input:nth-child(5):checked~.tab-panels-2>.tab-panel-2:nth-child(3),
.tabset-2>input:nth-child(7):checked~.tab-panels-2>.tab-panel-2:nth-child(4),
.tabset-2>input:nth-child(9):checked~.tab-panels-2>.tab-panel-2:nth-child(5),
.tabset-2>input:nth-child(11):checked~.tab-panels-2>.tab-panel-2:nth-child(6) {
    display: block;
}

.tabset-2>label {
    border: none;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
    background-color: var(--color-green-2, #27a644);
    border: none;
    border-radius: 5px;
    color: var(--font-color-2);
    font-weight: 600;
    height: 4vh;
    margin-left: var(--margin-left-2);
    margin-bottom: var(--margin-bottom-2);
    width: 6vw;
    cursor: pointer;
    text-align: center;
    margin: auto;
    padding: 1vh;
}

.tabset-2>label::after {
    content: "";
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 4px;
    background: #8d8d8d;
}

.tabset-2>input:checked+label {
    filter: drop-shadow(0 0 1vh #27a644);
    border: 2px solid var(--color-selected-2);
    border: none;
}

.tabset-2 {
    max-width: 65em;
}

/* Preview rectangle */

iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}

.preview-iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
}

/* Score rectangle */

.counter-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.counter-container {
    display: flex;
    align-items: center;
}

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter-subtext {
    font-size: 12px;
    color: var(--font-color-contrast, #000000);
    font-family: "franklin-gothic-atf", "Fira Sans", sans-serif;
    font-weight: 600;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    text-align: center;
}

.counter-container {
    display: flex;
    align-items: center;
    margin-bottom: 0.93vh;
}

.score-title {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.22vh;
}

.button-increment-home,
.button-decrement-home,
.button-increment-away,
.button-decrement-away,
.button-increment-togo,
.button-decrement-togo {
    color: var(--font-color, #fff);
    border: none;
    padding: 0.93vh;
    margin: 0.26vw;
    font-size: 1.25rem;
    cursor: pointer;
    width: 3.5vw;
    border-radius: 5px;
    font-weight: bold;
}

.button-increment-home,
.button-decrement-home {
    background-color: var(--color-blue, #007BFF);
    font-weight: bold;
}

.button-increment-away,
.button-decrement-away {
    background-color: var(--color-orange, #ff8601);
    font-weight: bold;
}

.button-decrement-countdown,
.button-increment-countdown,
.button-increment-quarter,
.button-decrement-quarter,
.button-increment-clock,
.button-decrement-clock,
.button-increment-togo,
.button-decrement-togo,
.button-increment-downs,
.button-decrement-downs {
    background-color: var(--font-color, #000000);
    color: var(--font-color-contrast);
    border: none;
    padding: 0.93vh;
    margin: 0.40vh;
    font-size: 1.25rem;
    cursor: pointer;
    width: 3.5vw;
    border-radius: 5px;
    font-weight: bold;
}

.counter,
.countdown-counter {
    font-size: 2.22vh;
    margin: 0 0.52vw;
    min-width: 2.6vw;
    text-align: center;
    padding: 0.93vh;
    border-radius: 5px;
    background-color: var(--font-color, #000000);
    color: var(--font-color-contrast);
}

.button-preset-score-home,
.button-preset-score-away {
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    width: 15vw;
    height: 4vh;
    border-radius: 5px;
    margin: 0.65vh;
}

.button-preset-score-home {
    background-color: var(--color-blue, #007BFF);
}

.button-preset-score-away {
    background-color: var(--color-orange, #ff8601);
}

/* Downs & togo rectangle */

.button-preset-down {
    background-color: var(--color-green, #27a644);
    color: var(--font-color, #000000);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    width: 10.42vw;
    height: 4vh;
    border-radius: 5px;
    margin: 0.31vw;
}

.button-preset-togo {
    background-color: var(--color-green, #27a644);
    color: var(--font-color, #000000);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    width: 7.15vw;
    height: 4vh;
    border-radius: 5px;
    margin: 0.21vw;
}

.downs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}

.preset-down-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

/* Netstats rectangle */

.netstats-title {
    font-size: 2vh;
    margin: 0 0.52vw;
    color: #fff;
}

.watermark {
    position: absolute;
    bottom: 3px;
    left: 5px;
    font-size: 12px;
    color: #f5f5f580;
}

.netstats-content {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    margin-left: 5vw;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.93vh;
}

.stat-item label {
    font-weight: bold;
    margin-right: 0.52vw;
    color: var(--font-color, #000000);
}

.stat-item span {
    color: var(--font-color, #000000);
}

#ping-value {
    white-space: nowrap;
}

.interface-locked {
    pointer-events: none;
    opacity: 0.5;
    filter: grayscale(100%);
    position: relative;
}

#lockInterfaceBtn {
    z-index: 999;
    pointer-events: auto;
}

.button-lock-interface {
    background-color: var(--font-color, #000000);
    color: var(--font-color-contrast);
    border: none;
    font-size: 0.83vw;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 2.08vw;
    margin-left: 1vw;
    z-index: 20;
    position: relative;
    pointer-events: auto;
    width: 7vw;
    height: auto;
    text-wrap: balance;
    padding: 0.8vh;
}

.unlock-interface-btn {
    display: none;
    z-index: 30;
    position: relative;
    pointer-events: auto;
}

/* Clock rectangle */

.clock-title {
    font-size: 2vh;
    margin: 0 0.52vw;
    color: var(--font-color, #000000);
}

.clock-controls,
.preset-clock-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.preset-clock-buttons {
    margin-top: 10px;
}

#countdown-clock-text {
    align-items: center;
    border-radius: 10.5px;
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--font-color-contrast);
    color: var(--font-color, #000000);
    height: 3vh;
    width: 35.9vw;
}


.clock-actions button {
    flex-shrink: 0;
}

.button-start-clock.active,
.button-stop-clock.active {
    background-color: var(--color-selected, #f64747);
}

/* Countdown rectangle */

.countdown-container {
    position: absolute;
    margin-left: auto;
    margin-right: 0;
    width: 12vw;
    height: 6vw;
    background-color: #111111;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 5px;
    bottom: 0;
    right: 0;
    opacity: 0.5;
    margin: 0.2%;
    overflow: hidden;
}

.countdown-title {
    font-size: 1em;
    margin: 0;
    padding: 5px 0;
    text-align: center;
}

.countdown-form-grid {
    width: 100vw;
}

.button-start-countdown.active,
.button-stop-countdown.active {
    background-color: var(--color-selected, #f64747);
}

.button-stop-countdown,
.button-start-countdown {
    background-color: var(--color-red);
    color: var(--font-color, #000000);
    border: none;
    padding: 10px;
    margin: 0.46vh;
    font-size: 1rem;
    cursor: pointer;
    width: 45%;
    border-radius: 5px;
    white-space: nowrap;
    font-weight: 600;
}

.countdown-title {
    font-size: 2vh;
    margin: 0 0.52vw;
    color: var(--font-color, #000000);
}

#countdown-clock-text::placeholder {
    color: #999;
    font-style: italic;
    opacity: 0.9;
}

.button-preset-countdown {
    background-color: var(--color-green, #27a644);
    color: var(--font-color, #000000);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    width: 10.42vw;
    height: 4vh;
    border-radius: 5px;
    margin: 0.65vh;
}

.countdown-controls {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.preset-countdown-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

#countdown-submit {
    background-color: var(--color-green, #27a644);
    color: var(--font-color, #000000);
    border: none;
    cursor: pointer;
    height: 4vh;
    width: 10vw;
    border-radius: 5px;
    margin-left: 0.65vh;
    text-align: center;
    margin-top: 0;
    ;
}

.countdown-actions-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 0.28vh;
}

#countdown-form {
    display: flex;
    align-items: center;
}

#countdown-clock-text {
    flex-grow: 1;
    border-radius: 10.5px;
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--font-color-contrast);
    color: var(--font-color, #000);
    height: 3vh;
    margin-right: 0.5vh;
}

.button-stop-clock,
.button-start-clock {
    background-color: var(--color-red);
    color: var(--font-color, #000000);
    border: none;
    padding: 10px;
    margin: 0.46vh;
    font-size: 1rem;
    cursor: pointer;
    width: 45%;
    border-radius: 5px;
    white-space: nowrap;
    font-weight: 900;
}

.button-preset-clock {
    background-color: var(--color-green, #27a644);
    color: var(--font-color, #000000);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    height: 4vh;
    border-radius: 5px;
    margin: 0.65vh;
}

.show-clock {
    background-color: #fff;
    color: #000;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.clock-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

#clock-text {
    width: calc(100% - 11.85vh);
    border-radius: 5px;
    padding: 10px;
    background-color: var(--font-color-contrast);
    color: #fff;
    margin-bottom: 3px;
}

/* Quarter rectangle */

.button-preset-quarter {
    background-color: var(--color-green, #27a644);
    color: #fff;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    width: 8.5vw;
    height: 5.5vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-wrap: balance;
}

.quarter-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.73vw;
    margin-top: 1.39vh;
}

.quarter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}

/* Display rectangle */

.show-countdown,
.show-sponsors,
.show-scoreboard,
.show-downs,
.show-animation,
.show-popup {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    align-items: center;
    border: none;
    justify-content: center;
    width: 23.3vw;
    height: 4vh;
    background-color: var(--color-green, #27a644);
    color: #fff;
    border-radius: 10.5px;
    margin: 0.3vh;
    cursor: pointer;
}

.visibility-active {
    background-color: var(--color-green, #00b140);
}

.visibility-buttons {
    display: grid;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 0.65vh;
}

/* Popups rectangle */

.popup-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
}

.home-popup {
    background-color: var(--color-blue, #007BFF);
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    width: 80%;
    padding: 0.93vh;
    border-radius: 5px;
    text-wrap: nowrap;
    margin: 0.5vh;
}

.away-popup {
    background-color: var(--color-orange, #ff8601);
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    width: 80%;
    padding: 0.93vh;
    border-radius: 5px;
    text-wrap: nowrap;
    margin: 0.5vh;
}

.popup-subtitle {
    font-weight: 600;
}

.popup-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.popup-table th,
.popup-table td {
    padding: 10px;
    border: 1px solid #fff;
}


.popup-table td {
    background-color: #161718;
}

.button.home-popup {
    border-color: blue;
}

.button.away-popup {
    border-color: orange;
}

.popup-cooldown {
    filter: brightness(0.5);
    cursor: not-allowed;
    filter: grayscale(100%);
}

/* Rwd */
@media (max-width: 102.22vh) {
    .main-container {
        flex-direction: column;
    }

    .left-column,
    .middle-column {
        width: 100%;
    }

    .sidenavbar {
        width: 10.42vw;
    }

    .off-screen-menu {
        width: 250px;
    }

    .score-rectangle,
    .preview-rectangle,
    .downs-rectangle,
    .netstats-rectangle,
    .countdown-rectangle,
    .quarter-rectangle,
    .clock-rectangle,
    .visibility-rectangle,
    .create-login-rectangle,
    .login-rectangle {
        width: calc(100% - 10px);
        margin-left: 0.15vw;
    }
}

@media (max-width: 768px) {

    .score-rectangle,
    .preview-rectangle,
    .downs-rectangle,
    .netstats-rectangle,
    .countdown-rectangle,
    .quarter-rectangle,
    .clock-rectangle,
    .visibility-rectangle,
    .create-login-rectangle,
    .login-rectangle {
        width: calc(100% - 16px);
        margin-left: 8px;
        margin-bottom: 10px;
    }

    .score-title {
        left: 50%;
        transform: translateX(-50%);
    }

    .preview-title {
        left: 50%;
        transform: translateX(-50%);
    }

    .downs-title {
        left: 10px;
    }

    .netstats-title {
        left: 10px;
    }

    .countdown-title {
        text-align: center;
    }

    .downs-rectangle {
        overflow-x: auto;
        white-space: nowrap;
    }

    .main-container {
        flex-direction: column;
    }

    .left-column,
    .middle-column {
        width: 100%;
    }


}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .netstats-rectangle {
        margin-left: 8px;
    }

    .tab-button {
        width: 8vw;
    }
}

@media (max-width: 480px) {

    .score-rectangle,
    .preview-rectangle,
    .downs-rectangle,
    .netstats-rectangle,
    .countdown-rectangle,
    .quarter-rectangle,
    .clock-rectangle,
    .visibility-rectangle,
    .create-login-rectangle,
    .login-rectangle {
        width: calc(100% - 1.85vh);
        margin-left: 0.15vw;
    }

    .button-preset-score-home,
    .button-preset-score-away,
    .flag-home,
    .flag-away {
        width: 130px;
        font-size: 14px;
    }

    .button-preset-down {
        width: 110px;
        font-size: 14px;
    }

    .countdown-title {
        font-size: 18px;
    }

    .button-preset-time,
    .button-preset-countdown {
        width: 140px;
        font-size: 14px;
    }

    .show-countdown {
        height: 40%;
    }

    .sidenavbar {
        width: 160px;
    }

    .off-screen-menu {
        width: 10.42vw;
    }

    .teaminfo-rectangle,
    .sponsor-rectangle,
    .teaminfo-presets-rectangle {
        width: calc(100% - 2.08vw);
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 102.22vh) and (orientation: landscape) {
    .main-container {
        transform: scale(0.75);
        transform-origin: 0 0;
    }
}


@media (max-width: 768px) {
    .clock-rectangle {
        width: calc(100% - 16px);
        margin-left: 8px;
    }

    .button-start-clock,
    .button-stop-clock,
    .button-preset-clock {
        font-size: 16px;
    }

    .netstats-rectangle {
        width: calc(100% - 16px);
        margin-left: 8px;
    }

    .button-preset-togo {
        width: 100px;
        font-size: 14px;
    }

    .ol-home-box,
    .ol-away-box,
    .ol-score-box,
    .ol-quarter-box,
    .ol-down-box {
        font-size: 12px;
    }

    .ol-sponsor-img {
        width: 10%;
        height: 10%;
        transform: translateY(-20px)
    }

    .countdown-container {
        width: 10%;
        height: 10%;
        transform: translateY(-20px)
    }

    .ol-parent-container {
        transform: translateX(-120px);
    }
    :root {
    --margin-left: 0.2vw;
    }
}

    @media (max-width: 480px) {
        .clock-rectangle {
            width: calc(100% - 1.85vh);
            margin-left: 0.15vw;
        }

        .button-preset-clock {
            font-size: 14px;
        }

        #clock-text {
            width: calc(100% - 100px);
        }

        .netstats-rectangle {
            width: calc(100% - 1.85vh);
            margin-left: 0.15vw;
        }
    }

    /* Hover effect */
    .button:hover,
    .button-increment-home:hover,
    .button-decrement-home:hover,
    .button-increment-away:hover,
    .button-decrement-away:hover,
    .button-increment-togo:hover,
    .button-decrement-togo:hover,
    .button-decrement-down:hover,
    .button-decrement-countdown:hover,
    .button-increment-countdown:hover,
    .button-decrement-quarter,
    .button-increment-quarter,
    .button-preset-score-home:hover,
    .button-preset-score-away:hover,
    .button-preset-down:hover,
    .button-start-countdown:hover,
    .button-stop-countdown:hover,
    .button-preset-time:hover,
    .button-preset-countdown:hover,
    .flag-home:hover,
    .flag-away:hover,
    .show-countdown:hover,
    .button-lock-interface:hover,
    .button-preset-quarter:hover,
    .create-login-rectangle input[type="submit"]:hover,
    .login-rectangle input[type="submit"]:hover,
    .button-preset-clock:hover,
    .button-stop-clock:hover,
    .button-start-clock:hover,
    .show-sponsors:hover,
    .submit-button:hover,
    .show-scoreboard:hover,
    .submit-button:hover,
    .show-downs:hover,
    .button-preset-togo:hover,
    .show-popup:hover,
    .show-animation:hover {
        transform: scale(1.01)
    }

    /*& Login */

    #login-body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        overflow: hidden;
        position: relative;
        background-color: #000;
        font-family: "franklin-gothic-atf", sans-serif;
    }

    canvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: -1;
    }

    .create-login-rectangle h1 {
        margin-bottom: 1.85vh;
        font-size: 2.22vh;
        color: #ffffff;
    }

    .create-login-rectangle label {
        font-size: 0.8em;
        margin-bottom: 5px;
        color: #ffffff;
        align-self: flex-start;
    }

    .create-login-rectangle input[type="text"],
    .create-login-rectangle input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 0.8em;
        height: 3vh;
    }

    .create-login-rectangle input[type="submit"] {
        background-color: #27a644;
        color: #fff;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        font-size: 1em;
        border-radius: 5px;
        vertical-align: middle;
    }

    .login-rectangle h1 {
        margin-bottom: 1.85vh;
        font-size: 2.22vh;
        color: #ffffff;
    }

    .login-rectangle label {
        font-size: 0.8em;
        margin-bottom: 0.46vh;
        color: #ffffff;
        align-self: flex-start;
    }

    .login-rectangle input[type="text"],
    .login-rectangle input[type="password"] {
        width: 100%;
        padding: 0.93vh;
        margin-bottom: 1.39vh;
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 14px;
        height: 3vh;
    }

    .login-rectangle input[type="submit"] {
        background-color: var(--color-green, #27a644);
        color: white;
        border: none;
        cursor: pointer;
        width: 100%;
        font-size: 1rem;
        border-radius: 5px;
        height: 3.5vh;
        text-align: center;
        justify-content: center;
        vertical-align: middle;
        height: 4vh;
        margin-bottom: 0;
        padding: 0%;
    }

    #create-login-form {
        width: 85%;
    }

    /*& Overlay.html styles */

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .ol-sponsor-parent {
        position: absolute;
        bottom: 0;
    }

    .ol-sponsor-img {
        width: 10vw;
        height: auto;
        max-height: 20vw;
    }

    .ol-parent-container {
        cursor: none;
        color: black;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 0.93vh;
        height: 100vh;
        position: relative;
        margin-right: 2vw;
    }

    #overlay-body {
        margin: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        font-family: "franklin-gothic-atf", "Fira Sans", sans-serif;
        font-weight: 600;
        text-wrap: nowrap;
    }

    .ol-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 41.67vw;
        margin: 0 auto;
        padding: 0.52vw;
        box-sizing: border-box;
        gap: 0.5rem;
        position: fixed;
    }

    .ol-home-box,
    .ol-away-box,
    .ol-score-box,
    .ol-quarter-box,
    .ol-down-box {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        height: 4vh;
        padding: 0 1rem;
        border-radius: 4.5px;
        font-size: 1rem;
        margin: 0;
        flex: 1;
    }

    .ol-team-logo {
        height: 2.59vh;
        width: auto;
        margin-right: 0.5vw;
        display: flex;
        align-items: center;
    }

    .ol-team-name-info {
        flex: 1;
        text-align: center;
    }

    .ol-team-score {
        font-size: 1.5em;
        font-weight: bold;
    }

    .ol-home-box,
    .ol-away-box {
        min-width: 9vw;
        justify-content: flex-start;
    }

    .ol-score-box h3,
    .ol-down-togo-box h3 {
        margin: 0;
    }

    .ol-score-box h3,
    .ol-down-togo-box h3 {
        margin: 0;
        white-space: nowrap;
    }

    .ol-home-box {
        width: auto;
    }

    /* Ol-Popups */

    .ol-popup-home.show {
        bottom: 9vh;
        opacity: 1;
        transition-delay: 0.2s;
        animation: borderPulse-home 2s ease-out infinite;
    }

    .ol-popup-home {
        position: fixed;
        bottom: -100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #ffffff;
        color: #000;
        padding: 1.85vh;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        opacity: 0;
        transition: bottom 0.5s ease-out, opacity 0.5s ease-out;
        font-size: large;
        width: auto;
        text-align: center;
        border: 2px solid transparent;
        box-sizing: border-box;
        z-index: 999;
        /* Make home appear above away :) */
        pointer-events: none;
    }

    @keyframes borderPulse-home {
        0% {
            border-color: transparent;
            box-shadow: 0 0 0 0 rgba(52, 152, 219, 0.7);
        }

        50% {
            border-color: #3498db;
            box-shadow: 0 0 0 10px rgba(52, 152, 219, 0);
        }

        100% {
            border-color: transparent;
            box-shadow: 0 0 0 0 rgba(52, 152, 219, 0.7);
        }
    }


    .ol-popup-away {
        position: fixed;
        bottom: -100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #ffffff;
        color: #000;
        padding: 1.85vh;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        opacity: 0;
        transition: bottom 0.5s ease-out, opacity 0.5s ease-out;
        font-size: large;
        width: auto;
        text-align: center;
        border: 2px solid transparent;
        box-sizing: border-box;
        pointer-events: none;
    }

    .ol-popup-away.show {
        bottom: 9vh;
        opacity: 1;
        transition-delay: 0.2s;
        animation: borderPulse-away 2s ease-out infinite;
    }

    @keyframes borderPulse-away {
        0% {
            border-color: transparent;
            box-shadow: 0 0 0 0 rgba(219, 165, 17, 0.7);
        }

        50% {
            border-color: #e67e22;
            box-shadow: 0 0 0 10px rgba(230, 126, 34, 0);
        }

        100% {
            border-color: transparent;
            box-shadow: 0 0 0 0 rgba(230, 126, 34, 0.7);
        }
    }

    /*& Teaminfo, Sponsors, Teampresets */

    #teaminfo-body {
        background-color: var(--color-background, #000);
    }

    .teaminfo-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 2vh;
        margin-top: 5vh;
    }

    .teaminfo-rectangle,
    .sponsor-rectangle,
    .teaminfo-presets-rectangle {
        background-color: var(--color-background-contrast, #1d1e22);
        border-radius: 10px;
        padding: 2vw;
        margin: 1vw;
        width: calc(32% - 2vw);
        box-sizing: border-box;
        color: var(--font-color, #fff);
        height: 75vh;
        overflow: auto;
    }

    .teaminfo-rectangle h1,
    .sponsor-rectangle h1,
    .teaminfo-presets-rectangle h2 {
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    form label {
        margin: 0.93vh 0 0.46vh;
    }

    #subtext-multiple {
        display: inline;
        color: var(--color-red, #f64747);
        font-style: italic;
        font-size: 0.75em;
        font-weight: bold;
        font-family: "open-sans", sans-serif;
    }

    .label-container {
        display: flex;
        align-items: center;
        margin-bottom: 0.5vh;
    }

    .label-container label {
        margin: 0;
        margin-right: 0.5em;
    }

    form input[type="text"],
    form input[type="file"] {
        padding: 0.93vh;
        margin-bottom: 1.39vh;
        border: none;
        border-radius: 5px;
        background-color: #fff;
        color: #000;
        width: 95%;
        height: 2vh;
    }

    form input[type="color"] {
        width: 100%;
        height: 4vh;
    }

    form input[type="submit"],
    .submit-button {
        background-color: var(--color-green, #27a644);
        padding: 0.93vh;
        margin-bottom: 1.39vh;
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        margin-top: 1.85vh;
        font-weight: 600;
        width: 100%;
        height: 4vh;
    }

    .home-section label[for="home_name"],
    .home-section label[for="home_img"],
    .home-section label[for="home_color"] {
        color: var(--color-blue, #007BFF);
    }

    .away-section label[for="away_name"],
    .away-section label[for="away_img"],
    .away-section label[for="away_color"] {
        color: var(--color-orange, #ff8601);
    }

    .ti-away-section {
        margin-top: 4vh;
    }

    .match-selector,
    .sponsor-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 0.5rem;
        overflow: hidden;
    }

    .match-selector .home-logo,
    .match-selector .away-logo {
        width: 1.5vw;
        height: 1.5vw;
        object-fit: cover;
    }

    .teampreset-title {
        flex: 1;
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        color: #333;
        margin: 0 1rem;
    }

    .select-button,
    .remove-button {
        background-color: var(--color-green);
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-left: 0.5rem;
        height: 4vh;
    }

    .select-button:hover {
        background-color: #2fce69;
    }

    .remove-button {
        background-color: var(--color-selected);
    }

    .htmx-indicator {
        height: 4vh;
    }

    /*& Settings */

    #settings-body {
        background-color: var(--color-background, #000);
    }

    .settings-container {
        max-width: 41.67vw;
        margin: 0 auto;
        margin-top: 5vh;
    }

    .settings-box {
        background-color: var(--color-background-contrast, #1d1e22);
        border-radius: 8px;
        padding: 2.22vh;
        margin-bottom: 2.22vh;
    }

    .settings-box-indev {
        background-color: var(--color-background-contrast, #1d1e22);
        border-radius: 8px;
        padding: 2.22vh;
        margin-bottom: 2.22vh;
        filter: blur(0.1vh);
        cursor: not-allowed;
    }

    .settings-title h2 {
        margin: 0;
        font-size: 2vh;
        font-weight: bold;
    }

    .subtext-settings h6 {
        margin: 0.56vh 0 1.67vh;
        font-size: 1.56vh;
        font-weight: normal;
        color: #e0e0e0;
        font-style: italic;
        text-wrap: balance;
    }

    .theme-active {
        filter: drop-shadow(0 0 1vh var(--shadow-color));
    }

    .setting {
        display: flex;
        align-items: center;
    }

    .setting input {
        margin-right: 0.52vw;
    }

    .reset-button {
        background-color: var(--color-red, #f64747);
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 0.93vh;
        font-size: 1rem;
        cursor: pointer;
        margin-top: 1.67vh;
    }

    .switch-container {
        margin-left: 1vw;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 3.13vw;
        height: 3.78vh;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
        border-radius: 3.78vh;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 2.89vh;
        width: 1.35vw;
        left: 0.21vw;
        bottom: 0.44vh;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }

    .update-banner {
        color: white;
    }

    a:link, a:visited {
        color: var(--font-color, #ffffff);
    }

    .alpha-range-title {
        margin: 0.2vw;
    }

    #reset-color {
        background-color: var(--color-red, #f64747);
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        margin-left: 0.4vw;
    }

    #light-theme,
    #dark-theme,
    #colorblind-theme {
        background-color: var(--font-color, #000000);
        color: var(--font-color-contrast);
        border: none;
        padding: 0.93vh;
        margin: 0.40vh;
        font-size: 1rem;
        cursor: pointer;
        width: auto;
        border-radius: 5px;
    }