<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon_png" type="image/x-icon">
    <title>Froggi Team Info</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    </style>
    <script src="/htmx.min.js"></script>
    <script src="/app.js"></script>
    <script>
        // NO TOUCHY ZONE (especially backend devs)
        document.addEventListener('DOMContentLoaded', function () {
            window.previewImage = function (input, previewId) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        document.getElementById(previewId).src = e.target.result;
                        document.getElementById(previewId).style.display = 'block';
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            document.querySelector('#logo-form').addEventListener('submit', function (event) {
                event.preventDefault();
                var home = document.getElementById('home_img').value;
                var away = document.getElementById('away_img').value;
                if (home && away) {
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "/logo_upload", true);
                    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                    xhr.onreadystatechange = function () {
                        if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                            console.log("Logo upload request finished and response is ready.");
                        }
                    };
                    xhr.send("home=" + home + "&away=" + away);
                }
            });

            document.querySelector('#name-form').addEventListener('submit', function (event) {
                event.preventDefault();
                var homeName = document.getElementById('homeName').value;
                var awayName = document.getElementById('awayName').value;
                if (homeName && awayName) {
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "/name_submit", true);
                    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                    xhr.onreadystatechange = function () {
                        if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                            console.log("Name submit request finished and response is ready.");

                            document.getElementById('homeNameDisplay').textContent = homeName;
                            document.getElementById('awayNameDisplay').textContent = awayName;
                        }
                    };
                    xhr.send("home=" + homeName + "&away=" + awayName);
                }
            });
        });
    </script>
</head>

<body>
    <header>
        <ul>
            <li><a href="/">Dashboard</a></li>
            <li><a href="/overlay" target="_blank">Overlay</a></li>
            <li><a href="/countdown">Countdown</a></li>
            <li><a href="#" class="active4">Team Info</a></li>v
            <li><a href="/sponsor">Sponsors</a></li>
        </ul>
    </header>

    <!-- Logo Upload Form -->
    <div class="teaminfo-container">
        <form id="logo-form" hx-post="/add_team" class="logo-upload" hx-encoding="multipart/form-data" hx-swap="none"
            onsubmit="return submitForm(event);">
            <label for="home_img">Home Team Logo:</label>
            <input type="file" name="home.png" id="home_img" accept="image/png"
                onchange="previewImage(this, 'home_preview')">
            <img id="home_preview" src="#" alt="Home Team Logo Preview"
                style="display:none; max-height: 50px; max-width: 50px;">

            <label for="home_color">Home Jersey Color:</label>
            <input type="color" name="home_color" id="home_color">

            <label for="home_name">Home Team Name:</label>
            <input type="text" name="home_name" id="home_name">

            <hr style="border-top: #000;">

            <label for="away_img">Away Team Logo:</label>
            <input type="file" name="away.png" id="away_img" accept="image/png"
                onchange="previewImage(this, 'away_preview')">
            <img id="away_preview" src="#" alt="Away Team Logo Preview"
                style="display:none; max-height: 50px; max-width: 50px;">

            <label for="away_color">Away Jersey Color:</label>
            <input type="color" id="away_color" name="away_color">

            <label for="away_name">Away Team Name:</label>
            <input type="text" name="away_name" id="away_name">
            <h6 style="color: red;">*Jersey colors are to be implemented in the future, but are still saved in presets
            </h6>
            <input type="submit" value="Submit" id="file-submit" class="submit-button">
        </form>
    </div>


    <!-- Display names on the page -->
    <div class="team-names-container">
        <div id="homeNameDisplay"></div>
        <div id="awayNameDisplay"></div>
    </div>
    <button class="reset-button" hx-post="/reset_scoreboard" hx-swap="none">Reset Scoreboard</button>


    <!-- Team Presets -->
    <div class="team-preset-container">
        <h2>Team presets</h2>
        <div class="team-selector" hx-put="/team_selectors" hx-trigger="load"></div>
    </div>

</body>
<script>
    document.querySelector('#logo-form').addEventListener('htmx:afterOnLoad', function () {
        var submitButton = document.getElementById('file-submit');
        submitButton.style.backgroundColor = 'green';
        submitButton.value = 'Success';

        setTimeout(function () {
            submitButton.style.backgroundColor = '';
            submitButton.value = 'Submit';
        }, 10000);

        document.querySelector('#name-form').addEventListener('htmx:afterOnLoad', function () {
            var submitButton = document.getElementById('name-submit');
            submitButton.style.backgroundColor = 'green';
            submitButton.value = 'Success';


            setTimeout(function () {
                submitButton.style.backgroundColor = '';
                submitButton.value = 'Submit';
            }, 10000);
        });
    });


    fetch('/teamload/ID', {
        method: 'POST',
    })

    document.querySelector('#logo-form').addEventListener('submit', function (event) {
    event.preventDefault();
    setTimeout(function() {
        location.reload();
    }, 2000);
    });

    document.querySelector('.team-selector').addEventListener('click', function (event) {
    event.target.classList.add('clicked');
});

</script>

</html>