<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon_png" type="image/x-icon">
    <title>FOSSO Logo Upload</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    </style>
    <script src="./htmx.min.js"></script>
    <script>
        // NO TOUCHY ZONE (especially backend devs)
        document.addEventListener('DOMContentLoaded', function () {
            // Define the previewImage function
            window.previewImage = function(input, previewId) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        document.getElementById(previewId).src = e.target.result;
                        document.getElementById(previewId).style.display = 'block';
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
    
            document.querySelector('#logo-form').addEventListener('submit', function (event) {
                event.preventDefault();
                var home = document.getElementById('home_img').value;
                var away = document.getElementById('away_img').value;
                if (home && away) {
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "/logo_upload", true);
                    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                    xhr.onreadystatechange = function () {
                        if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                            console.log("Logo upload request finished and response is ready.");
                        }
                    };
                    xhr.send("home=" + home + "&away=" + away);
                }
            });
    
            document.querySelector('#name-form').addEventListener('submit', function (event) {
                event.preventDefault();
                var homeName = document.getElementById('homeName').value;
                var awayName = document.getElementById('awayName').value;
                if (homeName && awayName) {
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "/name_submit", true);
                    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                    xhr.onreadystatechange = function () {
                        if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                            console.log("Name submit request finished and response is ready.");
                            
                            // Update the names on the page.
                            document.getElementById('homeNameDisplay').textContent = homeName;
                            document.getElementById('awayNameDisplay').textContent = awayName;
                        }
                    };
                    xhr.send("home=" + homeName + "&away=" + awayName);
                }
            });
        });
    </script>
</head>

<body>
    <header>
        <ul>
            <li><a href="/">Dashboard</a></li>
            <li><a href="/chromakey" target="_blank">Overlay</a></li>
            <li><a href="#" class="active4">Team Info</a></li>
        </ul>
    </header>

<!-- Logo Upload Form -->
<form id="logo-form" hx-post="/logo_upload" class="logo-upload" hx-encoding="multipart/form-data" hx-swap="none"
        onsubmit="return submitForm(event);">
        <label for="home_img">Home Team Logo:</label>
        <input type="file" name="home.png" id="home_img" accept="image/png"
            onchange="previewImage(this, 'home_preview')"><br>
        <img id="home_preview" src="#" alt="Home Team Logo Preview"
            style="display:none; max-height: 50px; max-width: 50px;"><br>

        <label for="away_img">Away Team Logo:</label>
        <input type="file" name="away.png" id="away_img" accept="image/png"
            onchange="previewImage(this, 'away_preview')">
        <img id="away_preview" src="#" alt="Away Team Logo Preview"
            style="display:none; max-height: 50px; max-width: 50px;">
        <input type="submit" value="Submit" id="file-submit">
        
    </form>


<!-- Team Name Form -->
<form id="name-form" hx-post="/" hx-swap="none">
    <div class="team-input">
        <label for="home">Home Name: </label>
        <input type="text" id="home" name="home" maxlength="8">
    </div>
    <div class="team-input">
        <label for="away">Away Name: </label>
        <input type="text" id="away" name="away" maxlength="8">
    </div>
    <input type="submit" value="Submit" id="name-submit">
</form>





    <!-- Display names on the page -->
    <div class="team-names-container">
        <div id="homeNameDisplay"></div>
        <div id="awayNameDisplay"></div>
    </div>
    <div style="display: flex; justify-content: center;">
        <button hx-post="/reset_scoreboard" hx-swap="none">Reset Scoreboard</button>
    </div>
</body>
<script>
    document.querySelector('#logo-form').addEventListener('htmx:afterOnLoad', function () {
        var submitButton = document.getElementById('file-submit');
        submitButton.style.backgroundColor = 'green'; 
        submitButton.value = 'Success'; 

        setTimeout(function() {
            submitButton.style.backgroundColor = ''; 
            submitButton.value = 'Submit'; 
        }, 10000);

    document.querySelector('#name-form').addEventListener('htmx:afterOnLoad', function () {
        var submitButton = document.getElementById('name-submit');
        submitButton.style.backgroundColor = 'green';
        submitButton.value = 'Success';

       
        setTimeout(function() {
            submitButton.style.backgroundColor = ''; 
            submitButton.value = 'Submit'; 
        }, 10000); 
    }); });
</script>
</html>
  