<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon_png" type="image/x-icon">
    <title>FOSSO Countdown</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="/app.js"></script>
    <script src="/htmx.min.js"></script>
    <style>
        .countdown-controls button:hover,
        .countdown-controls button.on {
            background-color: red;
        }
    </style>
    <div hx-put="/countdown_css" hx-trigger="every 100ms"></div>
    <div hx-put="/sponsor_roll_css" hx-trigger="every 100ms"></div>
</head>

<body>
    <header>
        <ul>
            <li><a href="/">Dashboard</a></li>
            <li><a href="/overlay" target="_blank">Overlay</a></li>
            <li><a href="#" class="active4">Countdown</a></li>
            <li><a href="/teaminfo">Teaminfo</a></li>
        </ul>
    </header>

    <div class="countdown-container">
        <div class="countdown">
            <div class="quick-countdown-buttons">
                <button hx-post="/quick_countdown/20/0" hx-swap="none">20 Min</button>
                <button hx-post="/quick_countdown/15/0" hx-swap="none">15 Min</button>
                <button hx-post="/quick_countdown/10/0" hx-swap="none">10 Min</button>
                <button hx-post="/quick_countdown/5/0" hx-swap="none">5 Min </button>
            </div>

            <div class="countdown-elements">
                <div hx-put="/countdown_dashboard" hx-trigger="every 100ms"></div>
                <br>
                <div class="countdown-controls">
                    <button id="cdstartButton" hx-post="/start_countdown" hx-swap="none" hx-trigger="click"
                        class="start_countdown">Start</button>
                    <button id="cdstopButton" hx-post="/stop_countdown" hx-swap="none" hx-trigger="click"
                        class="stop">Stop</button>
                </div>
                <div class="countdown-controls">
                    <button hx-post="/countdown_mins_up" hx-swap="none" class="timer-button min-button">Min+</button>
                    <button hx-post="/countdown_mins_down" hx-swap="none"
                        class="timer-button min-minus-button">Min-</button>
                </div>
                <div class="countdown-controls">
                    <button hx-post="/countdown_secs_up" hx-swap="none" class="countdown-button min-button">Sec+</button>
                    <button hx-post="/countdown_secs_down" hx-swap="none"
                        class="countdown-button min-minus-button">Sec-</button>
                </div>
                <form id="countdown-form" action="/update_countdown_title" method="post" class="countdown-title">
                    <label for="title">Countdown title:</label>
                    <input type="text" id="title" name="title" onchange="this.form.submit()">
                </form>
            </div>
            <div class="show-countdown-button">
                <button id="show-countdown" hx-post="show_countdown" hx-swap="none">Show countdown</button>
                <button id="show-sponsor" hx-post="show_sponsor_roll" hx-swap="none">Show sponsors</button>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('cdstartButton').addEventListener('click', function () {
            this.classList.add('on');
            document.getElementById('cdstopButton').classList.remove('on');
        });
        document.getElementById('cdstopButton').addEventListener('click', function () {
            this.classList.add('on');
            document.getElementById('cdstartButton').classList.remove('on');
        });
    </script>
    
</body>

</html>
